<ion-view view-title="Sign Up" class="lifeup-bg">
    <ion-content>

        <br>
        <br>
        <p class="lifeup-text-small">To track your progress and personalise your experience you'll need to create an account with LifeUp</p>

        <div>
                <input type="text" placeholder="Email address" ng-model="user.email">
                <input type="password" placeholder="Password" ng-model="user.pass">
            <br/>
            <div>
                <button class="button button-outline button-light lifeup-buttons button-block" ng-click="createAccount(user)">
                    CREATE ACCOUNT
                </button>
            </div>
        </div>

    </ion-content>

</ion-view>

