<ion-view view-title="Sign-Up" class="lifeup-bg" ng-class="{blur: blurBackground}">
    <ion-content>

        <div align="center" style="margin: 10%">


        <div>
            <p class="lifeup-text">To track your progress and personalise your experience you'll need to create an
                account with LifeUp</p>
        </div>

        <input style="width: 100%" type="text" placeholder="Email address" ng-model="user.email">
        <input style="width: 100%" type="password" placeholder="Password" ng-model="user.pass">
        <br/>

        <div>
            <button style="width: 100%" class="button button-outline button-light lifeup-button button-block"
                    ng-click="createAccount(user)">
                CREATE ACCOUNT
            </button>
        </div>
</div>

    </ion-content>

</ion-view>

