<ion-view view-title="HOW?">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header lifeup-bg">

        <div class="lifeup-page-text-heading center">
            <p>Climbing the Mindfulness Mountain</p>
        </div>


        <div class="lifeup-page-text">
            As you climb the mindfulness mountain there are three stages you achieve; these are Resilience, Connection
            and Authenticity.
        </div>

        <div class="center"><img src="img/Venn.png" style="width: 80%;height: auto"/></div>


        <div class="center lifeup-page-text-heading2">
            <p><strong>Three Stages</strong></p>
        </div>

        <div class="center lifeup-page-text-heading2">
            <p>Resilience: Ride Life's ups and downs</p>
        </div>

        <div class="center lifeup-page-text-heading2">
            <p>Connection: Connect; in the moment</p>
        </div>

        <div class="center lifeup-page-text-heading2">
            <p>Authenticity: Be real, be true to yourself and others</p>
        </div>



        <div class="lifeup-page-text-heading">
            Resilience:
        </div>


        <div class="lifeup-page-text">
            You can't control what your mind thinks but you can identify unhelpful thoughts and choose whether to take
            them personally or not
            Unhelpful emotions are caused by taking unhelpful thoughts personally. You can release an unhelpful emotion
            by paying attention to the sensation the emotion creates in the body
            The trick to changing how you feel, is to first accept how you feel and then to de-personalise the unhelpful
            thoughts driving the feelings.
        </div>

        <div class="lifeup-page-text-heading">
            Connection:
        </div>

        <div class="lifeup-page-text">
            When caught up in thought, we spend most of our time 'somewhere else’. It's like watching a film about life,
            rather than being there and experiencing it. This can lead to feeling disconnected and disillusioned with
            life.
            The secret to feeling a deep connection and satisfaction with life is to meet it where it resides, in the
            moment (not the past or future).
            This is achieved by managing your mind's disposition to sit in the middle of you and life; to experience
            life directly rather than as a second hand story as told by your mind
        </div>
        <div class="lifeup-page-text-heading">
            Authenticity:
        </div>

        <div class="lifeup-page-text">
            Awareness of our own judgements and interpretations (be they helpful or unhelpful), leading to improved
            relationships, empathy and peace of mind.
            Gain a clearer picture of what we want from life - be authentic in our behaviour and actions. Live with
            purpose.
        </div>


        <div class="center"><img src="img/mindfulnessMountain.png" style="width: 100%;height: auto"/></div>


        <div class="lifeup-page-text">
            <p>Each stage consists of two steps, these are: </p>
        </div>

        <div class="lifeup-page-text">

            <ol>
                <li type="disc">Resilience: DISARM & SPACE</li>
                <li type="disc">Connection: FLOW & ACT</li>
                <li type="disc">Authenticity: BE & I</li>
            </ol>

        </div>

        <div class="lifeup-page-text">
            <p>By following the LifeUp 6 steps of mindfulness you can reach and stay on top of the mountain and
                life.</p>
        </div>
        <div class="lifeup-page-text">
            <p>To help you on your journey, each step is also a full technique encapsulated in an acronym. So for
                example the first step is DISARM and the first letter in the acronym DISARM is D, which stands for
                Discover unhelpful thoughts.</p>

        </div>
    </ion-content>

</ion-view>