<ion-view view-title="Instructions">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color: white"></button>
    </ion-nav-buttons>

    <ion-content class="lifeup-bg">


        <div class="lifeup-instructions">

            <ol class="lifeup-instructions">
                <li type="1">
                    LifeUp is a virtual mindfulness training programme to take you from survive to thrive!
                </li>

                <br>

                <li type="1">
                    The LifeUp app takes you through 6 steps to climb our Mindfulness Mountain – earning 3 badges along the way:  Resilience,
                    Connection, Authenticity.
                </li>

                <br>

                <li type="1">
                    LifeUp 6 steps are acronyms to help you learn simple mindfulness techniques: DISARM, SPACE, FLOW, ACT, BE and I.
                </li>

                <br>

                <li type="1">
                    Each acronym guides you through a simple process relating to each of the steps: Disarm your thoughts; Create headspace;
                    Find your flow; Act with values; Be in the moment and know yourself.
                </li>
            </ol>
        </div>


        <div class="lifeup-instructions">
            <ol start="5" class="lifeup-instructions">
                <li type="1">
                    Look out for the back (<) and forward (>) buttons to navigate through the mindfulness mountain. Note that if you are on the first
                    step you can not navigate backwards – and you cannot navigate forwards if you have not completed all the content at your
                    current level. Swipe left and right to navigate through the content.
                </li>
            </ol>
        </div>

        <div class="" style="margin: auto; background-color: white;width: 80%;height: 44px; ;opacity: 0.7;">
            <button class="button button-clear ion-chevron-left"
                    style="
                    color: #009689;
                    left: 0%;
                    height: 26px;width: 26px; font-size: 26px">
            </button>

            <button  class="button button-clear lifeup-course-buttons"
                     style="
                    color: #009689;
                    height: 20px;width: 60%;">OPEN STEP 1: 'DISARM'
            </button>

            <button class="button button-clear ion-chevron-right"
                    style="
                    color: #009689;
                    right: 0%;
                    height: 30px;width: 30px;font-size: 26px">
            </button>

        </div>

        <div class="lifeup-instructions">
            <ol start="6" class="lifeup-instructions">
                <li type="1">
                    On the last slide of each step a tick box will become enabled (top right corner) – check this button to complete the step. Then
                    you will be taken back to the main page to click the ‘CLIMB!' button to proceed to the next step.
                </li>
            </ol>
        </div>

        <div class="center" style="margin: auto; background-color: white;width: 80%;height: 44px; ;opacity: 0.7;">
            <button class="button button-clear ion-chevron-left"
                    style="
                    color: #009689;
                    left: 0%;
                    height: 26px;width: 26px; font-size: 26px">
            </button>

            <button  class="button button-clear lifeup-course-buttons"
                     style="
                    color: #009689;
                    height: 20px;width: 60%;">CLIMB!
            </button>

            <button class="button button-clear ion-chevron-right"
                    style="
                    color: #009689;
                    right: 0%;
                    height: 30px;width: 30px;font-size: 26px">
            </button>

        </div>

        <div class="lifeup-instructions">

            <ol start="9" class="lifeup-instructions">
                <li type="1">

                    Remember, once you have completed the challenge you can go back and review the content at any time.


                </li>

                <br>

                <li type="1">
                    So good luck with the Mindfulness Mountain 6 steps, and collecting your 3 LifeUp badges along the way!
                </li>

                <br>

                <li type="1">
                    If you have any more questions that are not answered here please feel free to email us at <a href="http://www.lifeup.be/contact/">
                </li>

            </ol>

        </div>

    </ion-content>
</ion-view>