<ion-view ng-cloak>
<!--
     <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon ion-navicon" style="color: white"></button>
    </ion-nav-buttons>-->

    <ion-nav-title>
        {{title}}
    </ion-nav-title>

    <ion-content class="lifeup-bg has-header">

       <div>
            <div ng-if="firstLogin">
                <div class="lifeup-dashboard">

                    <div class="center">
                        <img src="../img/MikeNotHappy.png" class="center" style="width: 25%;height: auto">
                    </div>

                    <br><br>

                    Mike will be your guide through the LifeUp Mindfulness Mountain.

                    <br><br>
                    He's doing OK, but wants to get more out of life.  Help him do that by reaching the top of the
                    mindfulness mountain!

                    <br><br>

                    You can help him by collecting the LifeUp 3 badges – Resilience, Connection and Authenticity,
                    along the 6 steps to the mindfulness mountain.

                    <br><br>


                    After packing your tools at LifeUp Basecamp, start at the foot of the mountain with the first step
                    called "DISARM".

                    After you've completed each level Mike will help you to climb up to the next.
                    <br><br>

                    Good luck and happy climbing!

                    <br><br>

                    <div class="center">
                        <button  menu-close ng-click="go()" style="width: 50%;opacity: 0.8"
                                class="button button-block lifeup-course-buttons">START COURSE</button>
                    </div>
                </div>
            </div>


            <div ng-if="!firstLogin" class="center">

                <div class="lifeup-dashboard">

                    <br><br>

                    Nice to see you again… You’re progressing well on the Mindfulness Mountain!


                    <br><br>

                    Mike's got the route planned, his kit packed, and is raring to get going.  Simply pick up where you
                    left off, collect your badges and head for the summit!
                    <br><br>

                    <div class="center">
                        <button nav-clear menu-close ng-click="go()" style="width: 50%;opacity: 0.8"
                                class="button button-block lifeup-course-buttons">Continue Course</button>
                    </div>

                    <br><br>

                    <div class="center">
                        <img src="../img/MikeMap.png" class="center" style="width: 50%;height: auto">
                    </div>
                </div>

            </div>

        </div>


    </ion-content>

</ion-view>