<ion-view ng-cloak>
<!--
     <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon ion-navicon" style="color: white"></button>
    </ion-nav-buttons>-->

    <ion-nav-title>
        {{title}}
    </ion-nav-title>

    <ion-content class="lifeup-bg has-header">

       <div>
            <div ng-if="firstLogin">
                <div class="lifeup-dashboard">

                    <div class="center">
                        <img src="../img/meetMike.png" class="center" style="width: 30%;height: auto">
                    </div>

                    <br><br>
                    Are you ready to take the LifeUp Mindfulness Mountain Challenge?
                    <br><br>
                    You'll start at the foot of the mountain with the first step called "DISARM".
                    <br><br>
                    There are 6 steps to complete before reaching the top of the mountain.
                    <br><br>
                    On your way you'll collect 3 LifeUp badges – Resilience, Connection and Authenticity.
                    <br><br>
                    Good luck and happy climbing. See you at the top!
                    <br><br>

                    <div class="center">
                        <button  menu-close ng-click="go()" style="width: 70%;opacity: 0.8"
                                class="button button-block lifeup-course-buttons">Start Challenge</button>
                    </div>
                </div>
            </div>

            <div ng-if="!firstLogin" class="center">

                <div class="lifeup-dashboard">

                    <br><br>

                    Nice to see you again… You’re progressing well on the Mindfulness Mountain!

                    <br><br>

                    You've got the route planned, your kit's packed and hopefully you're raring to go!
                    <br><br>

                    <div class="center">
                        <button nav-clear menu-close ng-click="go()" style="width: 85%;opacity: 0.8"
                                class="button button-block lifeup-course-buttons">Continue Challenge</button>
                    </div>

                    <br><br>

                    <div class="center">
                        <img src="../img/MikeMap.png" class="center" style="width: 50%;height: auto">
                    </div>
                </div>

            </div>

        </div>


    </ion-content>

</ion-view>