<ion-view class="lifeup-bg" view-title="Sign-In" ng-class="{blur: blurBackground}" >
    <ion-content>

        <div align="center" style="margin: 10%">
            <div>
                <input style="width: 100%" type="text" placeholder="Email address" ng-model="user.email">
                <input style="width: 100%" type="password" placeholder="Password" ng-model="user.pass">
            </div>

            <br/>

                <button class="button button-outline button-light lifeup-button button-block" ng-click="login(user)">
                    SIGN IN
                </button>

            <br><p class="lifeup-text">OR</p>

            <div  class="center">
                <button ng-click="facebookLogin()"
                        class="button button-outline button-light lifeup-button icon ion-social-facebook-outline button-block">
                    SIGN IN WITH FACEBOOK
                </button>
            </div>

            <div  class="center">
                <button style="color: white; text-align: center" ng-click="showResetPasswordModal(user)"
                        class="button button-clear lifeup-text-small">Forgot Password?</button>
            </div>
        </div>

    </ion-content>
</ion-view>



