<ion-view class="lifeup-bg" view-title="Sign-In">
    <ion-content>

        <br>
        <br>

        <input type="text" placeholder="Email address" ng-model="user.email">
        <input type="password" placeholder="Password" ng-model="user.pass">
        <br/>

        <div>
            <button style="width: 90%" class="button button-outline button-light lifeup-button button-block" ng-click="login(user)">
                SIGN IN
            </button>
        </div>

        <br>

        <p class="lifeup-text-small">Forgot Password?</p>

    </ion-content>
</ion-view>



