<ion-view class="lifeup-bg">
    <ion-nav-bar class="lifeup-header">

        <ion-nav-buttons side="left">
            <button class="button button-clear button-light ion-chevron-left" ng-click="goBack()">
            </button>
        </ion-nav-buttons>

        <ion-nav-title>
            <p class="lifeup-nav-title">LifeUP</p>
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content>

        <br>

        <p class="lifeup-text">SIGN IN</p>
        <br>

        <p class="lifeup-text-small">Please enter your LifeUp details below.</p>


        <input type="text" placeholder="Email address" ng-model="user.email">
        <input type="password" placeholder="Password" ng-model="user.pass">
        <br/>

        <div>
            <button class="button button-outline button-light lifeup-button button-block" ng-click="login(user)">
                SIGN IN
            </button>
        </div>

        <br>

        <p class="lifeup-text-small">Forgot Password?</p>

    </ion-content>

</ion-view>



