<ion-modal-view ng-class="{blur: blurBackground}">
    <ion-header-bar class="lifeup-bg" align-title="center">

        <div class="title lifeup-nav-title">Reset Password</div>

        <div class="buttons">
            <button class="button button-clear ion-android-close"
                    style="font-size: 30px;color: white"
                    ng-click="closeModal()"></button>
        </div>

    </ion-header-bar>
    <ion-content class="lifeup-bg">

        <br><br>

        <input type="text" placeholder="Email address" ng-model="user.email">
        <br/>

        <div>
            <button style="color: white; width: 90%" class="button button-outline lifeup-button button-block" ng-click="resetPassword(user)">
                RESET PASSWORD
            </button>
        </div>

        <br>

    </ion-content>
</ion-modal-view>


