<ion-view view-title="F.A.Q">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>


    <ion-content class="has-header">

        <br><br>

        <div class="center"><img src="img/faq.png" style="width: 80%;height: auto"/></div>


        <div class="lifeup-page-text-heading">
            Why Mindfulness?
        </div>

        <div class="lifeup-page-text">
            Want to live life in vivid, high-definition colour instead of dull shades of black and white? Well you can,
            through mindful living!

            Think of living mindfully as your chance to switch off the autopilot and navigate your own path to a richer,
            fuller experience of life.
        </div>


        <div class="lifeup-page-text-heading">
            Why LifeUp?
        </div>

        <div class="lifeup-page-text">
            Most of us understand the benefits that come with being fully present in life. The greatest challenge is
            remembering to do it!

            Good habits seem to stick when they build up gradually, incorporating small, incremental changes over time.
            When
            training for a marathon, you’d start your schedule with a 5k jog, not a 20 mile run.

            The same approach should be taken with mindfulness. That's why LifeUp provides small, incremental
            mindfulness
            activities delivered to your inbox in an easy-to-follow daily schedule. Over time the practice can be
            effortlessly integrated into your daily life, helping you become a master of mindfulness!
        </div>

        <div class="lifeup-page-text-heading">
            Is the course for me?
        </div>

        <div class="lifeup-page-text">
            Yep, you don't need to know anything about mindfulness to take the course - but if you do that's great too!
            The
            course gives you an essential education about how to live mindfully and is very experiential, which
            makes it great for all levels.
        </div>

        <div class="lifeup-page-text-heading">
            How long does it take and what do I have to do?
        </div>


        <div class="lifeup-page-text">
            Navigate through the Mindfulness Mountain at your own speed. At each of the 6 levels you will take different
            modules of the course.
        </div>

        <div class="lifeup-page-text-heading">
            What technology do I need to take the course?
        </div>

        <div class="lifeup-page-text">
            By downloading the app, you've already got everything you need!
        </div>


        <div class="lifeup-page-text-heading">
            What's different about LifeUp?
        </div>

        <div class="lifeup-page-text">
            Mindfulness and the concept of 'living in the present moment' can feel quite intangible. LifeUp makes
            mindfulness readily accessible by teaching the 4 pillars of mindfulness and providing practical techniques
            to
            follow for each pillar. And, we don't ask you to carve out the time to sit and meditate twice a day, all you
            need to do is follow the course at whatever pace suits you.
        </div>

        <div class="lifeup-page-text-heading">
            Do I have to close my eyes to be mindful?
        </div>

        <div class="lifeup-page-text">
            No, mindfulness is much more than meditation. Formal meditation is a good way to create 'head space' but
            it's
            not the only way. During the course you'll learn quicker and easier techniques, and practice a more
            holistic approach to mindfulness.
        </div>


        <div class="lifeup-page-text-heading">
            How will I know when it's working?
        </div>

        <div class="lifeup-page-text">
            During the course you'll have plenty of 'a-ha' moments about how you think, feel and behave. As you practice
            the daily activities you'll start to feel the benefits. These will accumulate over the duration of the
            course becoming tangible
            to you and to those around you.
        </div>

        <div class="lifeup-page-text-heading">
            Is it religious?
        </div>
        <div class="lifeup-page-text">
        No, this course does not contain anything of a religious nature. You will not be asked to accept or believe
        anything that cannot be directly experienced for yourself.
        </div>

        <div class="lifeup-page-text-heading">
            Is it for everyone?
        </div>
        <div class="lifeup-page-text">
        Yes, we all can benefit from learning and practicing how to maximise our experience of life! However, if you're
        suffering from depression or other health conditions, we recommend you consult with your doctor.
        </div>

        <div class="lifeup-page-text-heading">
            What if I simply don’t have the time?
        </div>
        <div class="lifeup-page-text">
        We all struggle to make time for everything in our lives, that's why the 21 day challenge is designed to fit
        around a busy lifestyle. Mindfulness can build productivity and change your life so, it’s worth the investment.
        </div>

        <div class="lifeup-page-text-heading">
            What happens afterwards?
        </div>

        <div class="lifeup-page-text">
        That's up to you. Some will be inspired to carry on living mindfully, some will come back to it at a later point
        in life, and some may decide it's not for them. We provide the building blocks so you can continue a mindful
        life without reliance on a programme. You can also become part of the LifeUp Community and continue to receive
        daily 'mind gems'
        </div>

        <div class="lifeup-page-text-heading">
            What support do you provide?
        </div>

        <div class="lifeup-page-text">
        To support you post the challenge, sign up for our free daily mindfulness reminder and become part of the LifeUp
        community. Keep practicing the techniques you have learned and sit back and watch how you thrive! And don’t
        forget to share with a friend and follow us on twitter @lifeupbe
        </div>

        <div class="lifeup-page-text-heading">
            Got a question not answered in these FAQs?
        </div>
        <div class="lifeup-page-text">
            Get in touch: alex@lifeup.be
        </div>

    </ion-content>

</ion-view>