<ion-side-menus enable-menu-with-back-views="true" class="lifeup-bg">
    <ion-side-menu-content>
        <ion-nav-view name="dashboardContent" annimation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" class="lifeup-bg">

        <ion-content class="lifeup-bg-dark">

            <div ng-if="authData.facebook" class="list">
                <div class="item item-avatar lifeup-bg-dark">
                    <img src="{{authData.facebook.cachedUserProfile.picture.data.url}}">
                    <h2>{{authData.facebook.displayName}}</h2>
                </div>
            </div>

            <div ng-if="authData.password" class="list">
                <div class="item item-avatar center lifeup-bg-dark" style="border: 0">
                    <img src="{{authData.password.profileImageURL}}">
                    <p class="center lifeup-text">{{authData.password.email}}</p>
                </div>
            </div>

            <ion-list>

                <ion-item class="item item-complex" nav-clear menu-close >
                    <a class="item-content lifeup-bg-dark lifeup-text"  href="#/dashboard/course">
                        COURSE
                    </a>
                </ion-item>
                <ion-item class="item item-complex" nav-clear menu-close >
                    <a class="item-content lifeup-bg-dark lifeup-text" href="#/dashboard/what">
                        WHAT?
                    </a>
                </ion-item>
                <ion-item class="item item-complex" nav-clear menu-close >
                    <a class="item-content lifeup-bg-dark lifeup-text" href="#/dashboard/how">
                        HOW?
                    </a>
                </ion-item>

                <ion-item class="item item-complex" nav-clear menu-close >
                    <a class="item-content lifeup-bg-dark lifeup-text" href="#/dashboard/faq">
                        FAQ?
                    </a>
                </ion-item>

                <ion-item class="item item-complex" nav-clear menu-close >
                    <a class="item-content lifeup-bg-dark lifeup-text" href="#/dashboard/about">
                       ABOUT?
                    </a>
                </ion-item>

                <ion-item class="item item-complex" nav-clear menu-close >
                    <button class="item-content lifeup-bg-dark lifeup-text button-block" ng-click="logout()" >
                        LOGOUT
                    </button>
                </ion-item>


            </ion-list>


        </ion-content>
    </ion-side-menu>

</ion-side-menus>




