<ion-side-menus>
    <ion-side-menu-content>

<!--        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-light icon ion-navicon" ng-click="toggleLeft()">
                </button>
            </ion-nav-buttons>

            <ion-nav-title>
                <p class="lifeup-nav-title">LifeUP</p>
            </ion-nav-title>
        </ion-nav-bar> -->

        <ion-nav-view name="dashboardContent" annimation="slide-left-right"></ion-nav-view>

    </ion-side-menu-content>


    <!-- Left menu -->
    <ion-side-menu side="left">

        <ion-content>

            <div ng-if="authData.facebook" class="list">
                <div class="item item-avatar lifeup-bg-dark">
                    <img src="{{authData.facebook.cachedUserProfile.picture.data.url}}">
                    <h2>{{authData.facebook.displayName}}</h2>
                </div>
            </div>

            <div ng-if="authData.password" class="list">
                <div class="item item-avatar center lifeup-bg-dark" style="border: 0">
                    <img src="{{authData.password.profileImageURL}}">
                    <p class="center lifeup-text">{{authData.password.email}}</p>
                </div>
            </div>

            <ion-list>

                <ion-item nav-clear menu-close href="#/dashboard/course">
                    COURSE
                </ion-item>
                <ion-item nav-clear menu-close href="#/dashboard/what">
                    WHAT?
                </ion-item>
                <ion-item nav-clear menu-close href="#/dashboard/how">
                    HOW?
                </ion-item>
                <ion-item nav-clear menu-close href="#/dashboard/faq">
                    FAQ
                </ion-item>
                <ion-item nav-clear menu-close href="#/dashboard/about">
                    ABOUT US
                </ion-item>
            </ion-list>
            <button menu-close nav-clear ng-click="logout()"
                    class="button button-outline button-light lifeup-buttons button-block">
                LOGOUT
            </button>

        </ion-content>
    </ion-side-menu>

</ion-side-menus>




