<ion-modal-view>
    <ion-header-bar class="lifeup-bg" align-title="center">

        <div class="title lifeup-nav-title">Change Password</div>

        <div class="buttons">
            <button class="button button-clear ion-android-close"
                    style="font-size: 30px;color: white"
                    ng-click="closeModal()"></button>
        </div>

    </ion-header-bar>
    <ion-content class="lifeup-bg">


        <div style="margin: 10%">
            <input style="width: 100%" type="password" placeholder="Old password" ng-model="user.oldPassword">
            <input style="width: 100%"  type="password" placeholder="New password" ng-model="user.newPassword">

            <br>

            <button class="button button-outline button-light lifeup-button button-block" ng-click="changePassword(user)">
                CHANGE PASSWORD
            </button>
        </div>





    </ion-content>
</ion-modal-view>


