<ion-view>
    <ion-nav-bar class="lifeup-header center">

        <ion-nav-buttons side="right">
            <button class="button button-clear button-light lifeup-button" ng-click="go('signInChoice')">
               Sign In
            </button>
        </ion-nav-buttons>

        <ion-nav-title>
            <p class="lifeup-nav-title">LifeUP</p>
        </ion-nav-title>

    </ion-nav-bar>

    <ion-slide-box class="slidebox">
        <ion-slide class="center slide">
            <div>
                <img class="img" src="img/lifeUpStriveToThrive300x205.png"/>
                <br>
                <p class="lifeup-intro-text">
                    At LifeUp our mission is help you <b>thrive</b> rather than just survive; and to do so with some
                    passion, some compassion, some humour, and some style!
                </p>
            </div>
        </ion-slide>

        <ion-slide class="center slide">
            <div>
                <img class="img" src="img/lifeUpQuotes.png"/>
                <br>
                <p class="lifeup-intro-text">
                    Life moves pretty fast. If you don't stop and look around once in a while, you could miss it.</p>

                    <p class="lifeup-intro-text"> Ferris Bueller </p>
                </p>
            </div>
        </ion-slide>

        <ion-slide class="center slide">
            <div>
                <!--<img class="img" src="img/lifeUpQuotes.png"/>-->
                <br>

                <div>
                    <button class="button button-outline button-light lifeup-buttons button-block" ng-click="go('createAccountChoice')">
                        GET STARTED
                    </button>
                </div>

            </div>
        </ion-slide>


    </ion-slide-box>
</ion-view>