<ion-view class="loginOptions">
    <ion-nav-bar class="header">

        <ion-nav-buttons side="left">
            <button class="button button-clear button-light ion-chevron-left" ng-click="goToIntro()">

            </button>
        </ion-nav-buttons>

        <ion-nav-title>
            <p style="font-family: 'Amatic SC', cursivioione;font-size: 2.5em; color: white">Hello!</p>
        </ion-nav-title>

    </ion-nav-bar>

    <ion-content class="center">

        <div>
            <img class="img" src="img/lifeUpLogo.png" style="width: 60%;height: 60%;">
            <br><br>
        </div>

            <button ng-click="signInWithFacebook()" class="button button-outline button-light signInButtons icon ion-social-facebook-outline button-block">
                SIGN IN WITH FACEBOOK
            </button>
            <button ng-click="go('emailLogin')" class="button button-outline button-light signInButtons icon ion-ios-email-outline button-block" >
                SIGN IN WITH EMAIL
            </button>


    </ion-content>

    <ion-footer-bar class="footer-bar signin-page-text center">

        <div>
            <button ng-click="go('termsAndConditions')" class="button button-small button-clear button-light">Terms & Conditions</button>
            <button ng-click="go('privacyPolicy')" class="button button-small button-clear button-light">Privicy Policy</button>
        </div>

    </ion-footer-bar>

</ion-view>



