<ion-view class="lifeup-bg">
    <ion-nav-bar class="lifeup-header">

        <ion-nav-buttons side="left">
            <button class="button button-clear button-light ion-chevron-left" ng-click="goBack()">
            </button>
        </ion-nav-buttons>

        <ion-nav-title>
            <p style="font-family: 'Amatic SC', cursive;font-size: 2.5em; color: white">Hello!</p>
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content class="center">

        <div>
            <img class="img" src="img/lifeUpLogo.png" style="width: 60%;height: 60%;">
            <br><br>
        </div>


        <button ng-click="facebookLogin()"
                class="button button-outline button-light lifeup-buttons icon ion-social-facebook-outline button-block">
            SIGN IN WITH FACEBOOK
        </button>
        <button ng-click="go('emailSignIn')"
                class="button button-outline button-light lifeup-buttons icon ion-ios-email-outline button-block">
            SIGN IN WITH EMAIL
        </button>

    </ion-content>

    <ion-footer-bar class="footer-bar signin-page-text center">

        <div>
            <button ng-click="go('termsAndConditions')" class="button button-small button-clear button-light">Terms &
                Conditions
            </button>
            <button ng-click="go('privacyPolicy')" class="button button-small button-clear button-light">Privicy
                Policy
            </button>
        </div>



    </ion-footer-bar>

</ion-view>



