<ion-view class="lifeup-bg">
    <ion-nav-bar class="header">

        <ion-nav-buttons side="left">
            <button class="button button-clear button-light ion-chevron-left" ng-click="go('signInChoice')">
            </button>
        </ion-nav-buttons>

        <ion-nav-title>
            <p style="font-family: 'Amatic SC', cursive;font-size: 2.5em; color: white">Login</p>
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content class="slide">

        <p>SIGN IN</p>
        <p>Enter your LifeUp details below.</p>



        <button ng-click="signIn()" class="button button-outline button-light signInButtons">
            SIGN IN
        </button>

        <p>Forgot Password</p>

    </ion-content>

</ion-view>



