<ion-view view-title="Set Some Goals" hide-back-button="true">
    <ion-slide-box class="intro" show-pager="true">


        <ion-slide class="slide" disable-scroll>
            <ion-content class="intro center" scroll="false">
                <div>

                    <div class="center">
                        <img class="intro-img" src="img/resilience.png"/>
                    </div>

                    <p class="lifeup-intro-text">
                        Would you like to learn to dissipate
                        unhelpful thoughts and emotions to
                        decrease stress, anxiety and burnout?
                    </p>

                    <div class="center">
                        <button ng-click="nextSlide()" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">NO
                        </button>
                        <button ng-click="nextSlide()" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">YES
                        </button>
                    </div>

                </div>
            </ion-content>
        </ion-slide>

        <ion-slide class="slide">
            <ion-content class="intro center" scroll="false">
                <div>

                    <div class="center">
                        <img class="intro-img" src="img/connection.png"/>
                    </div>

                    <p class="lifeup-intro-text">
                        Would you like to live more present and
                        feel more alive, focused and energised?
                    </p>

                    <div class="center">
                        <button ng-click="nextSlide()" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">NO
                        </button>
                        <button ng-click="nextSlide()" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">YES
                        </button>
                    </div>


                </div>
            </ion-content>
        </ion-slide>

        <ion-slide class="slide">
            <ion-content class="intro center" scroll="false">
                <div>

                    <div class="center">
                        <img class="intro-img" src="img/authenticity.png"/>
                    </div>

                    <p class="lifeup-intro-text">
                        Would you like to create healthier
                        relationships and show up as the best
                        version of yourself, when it matters?
                    </p>

                    <div class="center">
                        <button ng-click="nextSlide()" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">NO
                        </button>
                        <button ng-click="nextSlide()" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">YES
                        </button>
                    </div>

                </div>
            </ion-content>
        </ion-slide>

        <ion-slide class="slide">
            <ion-content class="intro center" scroll="false">
                <div>

                    <div class="center">
                        <img class="intro-img" src="img/LifeUpLogoCup.png"/>
                    </div>

                    <p class="lifeup-intro-text">
                        Would you like to build a mindfulness habit,
                        and create lasting change in your life?
                    </p>

                    <div class="center">
                        <button ng-click="goToCreateAccount()" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">NO
                        </button>
                        <button ng-click="goToCreateAccount()" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">YES
                        </button>
                    </div>

                </div>
            </ion-content>
        </ion-slide>

    </ion-slide-box>
</ion-view>