<ion-view view-title="Set Some Goals" hide-back-button="true">
    <ion-slide-box class="intro" show-pager="true" on-slide-changed="slideHasChanged($index)" ng-init="disableSwipe()">

        <ion-slide class="slide" disable-scroll>
            <ion-content class="intro center" scroll="false">
                <div style="width: 100%">

                    <div class="center" style="width: 100%">
                        <img class="intro-img" src="img/resilience.png"/>
                    </div>

                    <div style="width: 100%">
                        <p class="lifeup-intro-text">
                            {{goalQuestions[0]}}
                        </p>
                    </div>

                    <div class="center" style="width: 100%">
                        <button ng-click="nextSlide('NO')" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">NO
                        </button>
                        <button ng-click="nextSlide('YES')" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">YES
                        </button>
                    </div>
                </div>
            </ion-content>
        </ion-slide>

        <ion-slide class="slide">
            <ion-content class="intro center" scroll="false">
                <div style="width: 100%">

                    <div class="center" style="width: 100%">
                        <img class="intro-img" src="img/connection.png"/>
                    </div>

                    <div style="width: 100%">
                        <p class="lifeup-intro-text">{{goalQuestions[1]}}</p>
                    </div>

                    <div class="center" style="width: 100%">
                        <button ng-click="nextSlide('NO')" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">NO
                        </button>
                        <button ng-click="nextSlide('YES')" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">YES
                        </button>
                    </div>
                </div>
            </ion-content>
        </ion-slide>

        <ion-slide class="slide">
            <ion-content class="intro center" scroll="false">
                <div style="width: 100%">

                    <div class="center" style="width: 100%">
                        <img class="intro-img" src="img/authenticity.png"/>
                    </div>

                    <div class="center" style="width: 100%">
                        <p class="lifeup-intro-text">
                            {{goalQuestions[2]}}
                        </p>
                    </div>

                    <div class="center" style="width: 100%">
                        <button ng-click="nextSlide('NO')" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">NO
                        </button>
                        <button ng-click="nextSlide('YES')" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">YES
                        </button>
                    </div>
                </div>
            </ion-content>
        </ion-slide>


        <ion-slide class="slide">
            <ion-content class="intro center" scroll="false">
                <div style="width: 100%">

                    <div class="center" style="width: 100%">
                        <img class="intro-img" src="img/lifeUpStars.png"/>
                    </div>

                    <div class="center" style="width: 100%">
                        <p class="lifeup-intro-text">
                            {{goalQuestions[3]}}
                        </p>
                    </div>

                    <div class="center" style="width: 100%">
                        <button ng-click="nextSlide('NO')" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">NO
                        </button>
                        <button ng-click="nextSlide('YES')" class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">YES
                        </button>
                    </div>
                </div>
            </ion-content>
        </ion-slide>

        <ion-slide class="slide">
            <ion-content class="intro center" scroll="false">
                <div style="width: 100%">
                    <div class="center">
                        <img class="intro-img" src="img/LifeUpLogoCup.png"/>
                    </div>

                    <p class="lifeup-intro-text">
                        {{goalQuestions[4]}}
                    </p>

                    <div class="center">
                        <button ng-click="goToCreateAccount('NO')"
                                class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">NO
                        </button>
                        <button ng-click="goToCreateAccount('YES')"
                                class="button button-light button-outline lifeup-button"
                                style="width: 20%; margin: 2%">YES
                        </button>
                    </div>

                </div>
            </ion-content>
        </ion-slide>
    </ion-slide-box>
</ion-view>