<ion-view view-title="About LifeUp">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color: white"></button>
    </ion-nav-buttons>


    <ion-content class="has-header">

        <br><br>

        <div class="center"><img src="img/aboutUs.jpeg" style="width: 80%;height: auto"/></div>

        <div class="lifeup-page-text-heading">
            Stop drifting, start being
        </div>

        <div class="lifeup-page-text">
            Scott and Jo first happened upon a mutual interest when they met in Barnes in 2012. A lovely part of London
            with rowing boats, gastro pubs, a village green and a reiki centre!
        </div>

        <div class="lifeup-page-text">
            Jo was hungover, hating her job, single and knocking 30. Scott was regaining balance after a family
            bereavement, and some health problems.
        </div>

        <div class="lifeup-page-text">
            Both were taking a lot of value from a variety of mindfulness and meditation techniques, by patching
            together content from weekend courses, books and even Buddhist retreats!
        </div>

        <div class="center">
            <img src="img/scott.jpeg" style="width: 30%;height: auto;margin: 5%"/>
            <img src="img/jo.jpeg" style="width: 30%;height: auto;margin: 5%"/>
        </div>


        <div class="lifeup-page-text-heading">
            An inspiring goat…
        </div>

        <div class="lifeup-page-text">

            Scott had an idea for making an online mindfulness course to bring peace to the masses (before anyone knew
            what mindfulness was!). The content was bouncing around in his head from his own experience, he just needed a
            like-minded, high-energy individual also passionate about mindfulness, to help bring it to life.
        </div>

        <div class="lifeup-page-text">
            Now who could that be?
        </div>

        <div class="lifeup-page-text">
            After many a Sunday afternoon in The Goat, and copious pints of lime and soda (rock ‘n roll), LifeUp was
            born!
        </div>

        <div class="lifeup-page-text-heading">
            From stressed to best
        </div>

        <div class="lifeup-page-text">

            As they collated the content, developed the course and put their own advice into practice, things started to
            change in their own lives. In 2013 Jo started a career in Social Enterprise and Scott moved to work part
            time so
            he could follow his passion and focus on creating LifeUp.
        </div>

        <div class="lifeup-page-text">
            And guess what else…
        </div>

        <div class="lifeup-page-text-heading">
            Unlimited…
        </div>

        <div class="lifeup-page-text">
            In October 2014 (even after missing the application deadline) Jo and Scott secured funding and one year
            strategic guidance from UnLtd, an organisation that supports start-up social enterprises.
        </div>

        <div class="lifeup-page-text">
            An overview of our business showed our marketing and branding to be severely lacking...
        </div>

        <div class="lifeup-page-text">
            Enter The Happy Startup School
        </div>

        <div class="lifeup-page-text-heading">
            Mainstreaming Mindfulness
        </div>

        <div class="lifeup-page-text">
            After a well-timed online course with the Happy Start-up School, we matched UnLtd’s funding to enlist
            the help of the founders in creating our “minimum lovable product”.
        </div>
        <div class="lifeup-page-text">
            LifeUp’s “From Survive to Thrive in 21 days” came to life. Oli, our designer, made some pretty pictures,
            and we tested, refined, tested and launched!
        </div>
        <div class="lifeup-page-text">
            Mindfulness works for us and it can work for you too… Help us continue the story...
        </div>

    </ion-content>
</ion-view>