<ion-view view-title="ACT" ng-class="{blur: blurBackground}">

<ion-nav-buttons side="right">
    <button ng-click="completeModule()" menu-toggle="right" ng-disabled="!enableCompleteButton"
            class="button button-clear ion-android-checkbox-outline {{animateCompleteButton}}"
            style="color: white;font-size: 24px">
    </button>

</ion-nav-buttons>
<ion-nav-buttons side="left">
    <button ng-click="go()"
            class="button button-clear ion-chevron-left" style="color: white;font-size: 24px">
    </button>
</ion-nav-buttons>

<ion-slide-box on-slide-changed="slideHasChanged($index)">

<ion-slide class="slide">
    <ion-content class="courseSlide">

        <div class="lifeup-page-title">
            Accept 'what is'
        </div>

        <div style="width: 100%" >
            <div class="row row-center" style="opacity: 1">
                <div style="text-align: right" class="col-25">
                    <span class="lifeup-acronym-title">A</span>
                </div>
                <div class="col-50" style="margin-left: 15px">
                    <span class="lifeup-acronym-title">ACCEPT</span>
                </div>
            </div>
            <div class="row row-center" style="opacity: 0.5">
                <div style="text-align: right" class="col-25">
                    <span class="lifeup-acronym-title">C</span>
                </div>
                <div class="col-50" style="margin-left: 15px">
                    <span class="lifeup-acronym-title">Connect</span>
                </div>
            </div>
            <div class="row row-center" style="opacity: 0.5">
                <div style="text-align: right" class="col-25">
                    <span class="lifeup-acronym-title">T</span>
                </div>
                <div class="col-50" style="margin-left: 15px">
                    <span class="lifeup-acronym-title">Take Action</span>
                </div>
            </div>
        </div>


        <div class="lifeup-page-text-heading2">
            A is for Accept the situation.
        </div>

        <div class="lifeup-page-text">

        Use the ACT technique to connect with your values and act with Integrity and purpose in any given situation.
        <br><br>
        Apply the ACT technique when making decisions, taking action, setting goals or reviewing your wants and desires to ensure you be the person you want to be.
        </div>

        <div class="center">
            <img src="img/actJames.jpg" style="width: 90%;height: auto;margin: 5%"/>
        </div>

        <div class="lifeup-page-text-heading">
        Education
        </div>

        <div class="lifeup-page-text">
        No matter what sort of difficult situations you encounter in life, there are only ever three rational actions you can take.

            <ol class="lifeup-page-text">
                <li type="disc">You can remove yourself from the difficult situation.</li>
                <br>
                <li type="disc">You can change the difficult situation.</li>
                <br>
                <li type="disc">If you are unable to leave or change, you can accept the difficult situation fully.</li>
                <br>
            </ol>

        If it is not in your power to leave, change or improve the situation, the only logical action is to accept it fully. Anything else is pointless as you are struggling against ‘what is’. This will only cause additional frustration and resentment, and negatively impact your peace of mind.

            <br><br>

        Acceptance of ‘what is’ immediately frees you from unhelpful thought chatter, negative judgements and resistance.

            <br><br>

        Accepting the situation, or at least accepting how you feel about a situation is in fact the first mindful step towards changing it! Actions taken from this state are likely to be more empowered and successful, with a clearer perspective to make appropriate and authentic decisions.

        </div>

        <hr class="line-margin">

        <div class="lifeup-page-text-heading">
        Activity
        </div>

        <div class="lifeup-page-text">

        Think of a situation occurring in your life that displeases or upsets you. Are you resisting it or have you accepted it?

        <ol class="lifeup-page-text">

            <li type="disc">Do I need to take a Thought Break to clear my head?</li>
            <br>
            <li type="disc">Are there unhelpful automatic thoughts that need to be DISARM-ed?</li>
            <br>
            <li type="disc">What is my Struggle Rating saying?  Do I need to create SPACE?</li>
            <br>
            <li type="disc">Am I in the FLOW?  Have I run the FLOW checklist to double check?</li>
            <br>
            <li type="disc">Ask yourself honestly, “Have I fully accepted this situation or am I fighting or resisting what is?”</li>
            <br>

        </ol>

        </div>

        <hr class="line-margin">


        <div class="lifeup-page-text-heading">
            Take away
        </div>

        <div class="lifeup-page-text">

        Actions taken from a state of 'acceptance' are likely to be more empowered, with a clearer perspective to make appropriate and authentic decisions. Use the LifeUp techniques you have learned to help you accept any situation you find to be dissatisfactory.

        </div>
    </ion-content>
</ion-slide>

    <ion-slide class="slide">
        <ion-content class="courseSlide">

            <div class="lifeup-page-title">
            Connect with your values
            </div>

            <div style="width: 100%" >
                <div class="row row-center" style="opacity: 0.5">
                    <div style="text-align: right" class="col-25">
                        <span class="lifeup-acronym-title">A</span>
                    </div>
                    <div class="col-50" style="margin-left: 15px">
                        <span class="lifeup-acronym-title">ACCEPT</span>
                    </div>
                </div>
                <div class="row row-center" style="opacity: 1">
                    <div style="text-align: right" class="col-25">
                        <span class="lifeup-acronym-title">C</span>
                    </div>
                    <div class="col-50" style="margin-left: 15px">
                        <span class="lifeup-acronym-title">Connect</span>
                    </div>
                </div>
                <div class="row row-center" style="opacity: 0.5">
                    <div style="text-align: right" class="col-25">
                        <span class="lifeup-acronym-title">T</span>
                    </div>
                    <div class="col-50" style="margin-left: 15px">
                        <span class="lifeup-acronym-title">Take Action</span>
                    </div>
                </div>
            </div>

            <div class="lifeup-page-text-heading">
                C is for Connect with your values
            </div>

            <div class="center">
                <img src="img/actBrown.jpg" style="width: 90%;height: auto;margin: 5%"/>
            </div>

            <div class="lifeup-page-text-heading">
            Education
            </div>

            <div class="lifeup-page-text">

            Values are a set of guiding principles by which we can navigate life.
                <br><br>
            They represent the vision or principles of what sort of person we want to be in relation to ourselves and others, which we could describe as our ‘authentic self’.
                <br><br>
            As our values represent our heart’s deepest desires, they provide a powerful source of motivation, meaning, deep satisfaction and resilience.
                <br><br>
            Living a values-based life can bring satisfaction day to day, as you live authentically every day. In contrast, a goals-based life may result in postponing happiness until you achieve a particular outcome. This sense of satisfaction tends to be short-lived, only to be replaced with new needs and wants.  A values-based life can be rewarding even whilst still in pursuit of some longer-term aim.
                <br><br>
            Consider the following:
                <br><br>

                <ol class="lifeup-page-text">
                    <li type="disc">If you weren’t concerned with the judgements and opinions of others or your own fear, how would you change your life?</li>
                    <br>
                    <li type="disc">When have you worked towards a goal only to find it does not bring the fulfilment you hoped?</li>
                    <br>
                    <li type="disc">If you had limitless time, and limitless money, what would you do?</li>
                    <br>
                    <li type="disc">Imagine you are 100 years old looking back on your life.  What advice would you give your present-day self?</li>
                    <br>
                </ol>
            </div>

            <hr class="line-margin">

            <div class="lifeup-page-text-heading">
            Activity
            </div>

            <div class="lifeup-page-text">

            Write down your values and pin them up somewhere so that you can read them each day.
                <br><br>
            Think of a current situation you’re in. Ask yourself, “Am I being authentic in what I am doing with respect to my values? What outcome would I like from this situation?  Is it aligned with my values?”
            </div>

            <hr class="line-margin">

            <div class="lifeup-page-text-heading">
                Take away
            </div>

            <div class="lifeup-page-text">
                Values represent our heart’s deepest desires so provide a powerful source of motivation, meaning, deep satisfaction and resilience. Connect with them ahead of taking action.
            </div>
    </ion-content>
    </ion-slide>


    <ion-slide class="slide">
        <ion-content class="courseSlide">

            <div class="lifeup-page-title">
            Take conscious action
            </div>

            <div style="width: 100%" >
                <div class="row row-center" style="opacity: 0.5">
                    <div style="text-align: right" class="col-25">
                        <span class="lifeup-acronym-title">A</span>
                    </div>
                    <div class="col-50" style="margin-left: 15px">
                        <span class="lifeup-acronym-title">ACCEPT</span>
                    </div>
                </div>
                <div class="row row-center" style="opacity: 0.5">
                    <div style="text-align: right" class="col-25">
                        <span class="lifeup-acronym-title">C</span>
                    </div>
                    <div class="col-50" style="margin-left: 15px">
                        <span class="lifeup-acronym-title">Connect</span>
                    </div>
                </div>
                <div class="row row-center" style="opacity: 1">
                    <div style="text-align: right" class="col-25">
                        <span class="lifeup-acronym-title">T</span>
                    </div>
                    <div class="col-50" style="margin-left: 15px">
                        <span class="lifeup-acronym-title">Take Action</span>
                    </div>
                </div>
            </div>

            <div class="lifeup-page-text-heading">
            T is for Take conscious action
            </div>

            <div class="center">
                <img src="img/actCharles.jpg" style="width: 90%;height: auto;margin: 5%"/>
            </div>

            <div class="lifeup-page-title">
                Education
            </div>

            <div class="lifeup-page-text">
                By observing your behaviour with respect to a certain situation, you can gain insight into whether you have truly accepted it, and whether your actions are aligned with your values. With this realisation comes the opportunity to take action that is more authentic -  the opportunity to 'be you'.
                <br><br>
                If your behaviour reflects fear, frustration, resentment, or battling against a situation - then it is likely you have not fully accepted it.
                <br><br>
                If your behaviour does not reflect who you want to be as a person, if it is not aligned to your values, then your behaviour will not be authentic.
            </div>

            <hr class="line-margin">

            <div class="lifeup-page-text-heading">
            Activity
            </div>

            <div class="lifeup-page-text">

            Think of a problem in your life and your current behaviour in relation to it.  It can be something small in your everyday life, or a bigger situation.
                <br><br>
            Does your behaviour reflect fear or frustration, resentment, or are you battling against something? If so then you have not fully accepted it. Be honest with yourself.
                <br><br>
            Does your behaviour reflect the person you want to be in relation to yourself and others? Cross check your values to help with this check. Are there any conflicts? What is the priority in the situation? Again be honest with yourself.
                <br><br>
            Now decide again, what is the go-forward authentic action or behaviour?

                <br><br><br>

            Did you compare your behaviour with who you want to be?
            </div>

            <hr class="line-margin">

            <div class="lifeup-page-text-heading">
            Take away
            </div>

            <div class="lifeup-page-text">

            Observing your current behaviour provides a good 'check-in' to see if we have a clear head to make the right decisions and are taking authentic action. From here we can make any adjustments to realign with the person we want to be.
                <br><br>
            Actions speak louder than words, so make them count.
            </div>

            <hr class="line-margin">

            <div class="lifeup-page-text-heading">
                Your Progress
            </div>

            <div class="lifeup-page-text">

                Congratulations, you have now completed 'Connection', the second stage in climbing the mindful mountain. You practiced the <span style="color:#34AABC">FLOW</span> and <span style="color:#34AABC">ACT</span> technique to connect with the present moment and your values, and act with Integrity and purpose in any given situation.

                The next stage up of the mountain is 'Authenticity'.  The first step in Authenticity is <span style="color:#34AABC">BE</span> for Being and Enlightenment. You'll learn how to 'just be' in your everyday and become enlightened!

            </div>
        </ion-content>
    </ion-slide>

</ion-slide-box>
</ion-view>
