<ion-view class="lifeup-bg">

    <ion-nav-bar class="lifeup-bg">
        <!--        <ion-nav-buttons side="left">
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                </ion-nav-buttons> -->

        <ion-nav-buttons side="right">
            <button ng-click="go()" menu-toggle="right" class="button button-icon ion-android-checkbox-outline"></button>
        </ion-nav-buttons>


        <ion-nav-title>
            <p class="lifeup-nav-title">BE</p>
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content class="has-header lifeup-bg">




    </ion-content>

</ion-view>
