<ion-view view-title="Course" hide-nav-bar="true" ng-class="{blur: blurBackground}">

    <ion-content scroll="false" class="mountain">

        <section class="course-container">

            <button ng-click="toggleLeft()"
                    style="color: #009689;
                    font-size: 32px;
                    position: absolute;
                    top: 8px;
                    left:10px;
                    "
                    class="button button-icon button-clear ion-navicon"></button>

            <div align="center" style="height: 35%;float: right;margin-top: 2%; margin-left: 75%; border-radius: 5px;">
                <div style="height: 33%; padding: 3px" ng-if="profile.authenticityComplete">
                    <img src="img/authenticity.png" style="opacity: 1;max-height: 100%;max-width: 100%"/>
                </div>
                <div style="height: 33%; padding: 3px" ng-if="!profile.authenticityComplete">
                    <img src="img/authenticity.png" style="opacity: 0.2;max-height: 100%;max-width: 100%"/>
                </div>
                <div style="height: 33%; padding: 3px" ng-if="profile.connectionComplete">
                    <img src="img/connection.png" style="opacity: 1;max-height: 100%;max-width: 100%"/>
                </div>
                <div style="height: 33%; padding: 3px" ng-if="!profile.connectionComplete">
                    <img src="img/connection.png" style="opacity: 0.2;max-height: 100%;max-width: 100%"/>
                </div>
                <div style="height: 33%; padding: 3px" ng-if="!profile.resilienceComplete">
                    <img src="img/resilience.png" style="opacity: 0.2;max-height: 100%;max-width: 100%"/>
                </div>
                <div style="height: 33%; padding: 3px" ng-if="profile.resilienceComplete">
                    <img src="img/resilience.png" style="opacity: 1;max-height: 100%;max-width: 100%"/>
                </div>
            </div>

            <div class="center" ng-show="profile.showPlayButton"
                 style="background-color: white;width: 100%;height: 44px; top: 90%;opacity: 0.7; position: absolute">

                <button class="button button-clear ion-chevron-left" ng-click="skipBackwards()"
                        ng-disabled="!step.backButtonEnabled"
                        style="
                        color: #009689;
                        left: 1%;
                        position: fixed;
                        height: 26px;width: 26px; font-size: 26px">
                </button>

                <button ng-cloak ng-click="play()" class="button button-clear lifeup-course-buttons animated pulse"

                        style="
                        color: #009689;
                        opacity: 1;
                        height: 20px;width: 60%;"> OPEN STEP {{step.pos}}: {{step.name}}
                </button>

                <button class="button button-clear ion-chevron-right" ng-click="skipForward()"
                        ng-disabled="!forwardButtonEnabled"
                        style="
                        color: #009689;
                        position: fixed;
                        z-index: 1002;
                        right: 1%;
                        height: 30px;width: 30px;font-size: 26px">
                </button>

            </div>

            <div class="center" ng-show="profile.readyToClimb"
                 style="background-color: white;width: 100%;height: 44px; top: 90%;opacity: 0.7; position: absolute">

                <button class="button button-clear ion-chevron-left" ng-click="skipBackwards()"
                        ng-disabled="!step.backButtonEnabled"
                        style="
                        color: #009689;
                        left: 1%;
                        position: fixed;
                        height: 26px;width: 26px; font-size: 26px">
                </button>

                <button ng-cloak ng-click="climb()" class="button button-clear lifeup-course-buttons animated pulse"
                        style="
                        color: #009689;
                        height: 50px;width: 60%;">CLIMB!
                </button>
                <button class="button button-clear ion-chevron-right" ng-click="skipForward()"
                        ng-disabled="!forwardButtonEnabled"
                        style="
                        color: #009689;
                        position: fixed;
                        z-index: 1002;
                        right: 1%;
                        height: 30px;width: 30px;font-size: 26px">
                </button>
            </div>
            
            <div class="course-background" ng-style="{'background-image': 'url('+spritePNGFile +')',
                             'background-repeat': 'no-repeat',
                             'width':  items[step.frame].w,
                             'height': items[step.frame].h,
                             'top': items[step.frame].t,
                             'left': items[step.frame].l,
                             'background-position': items[step.frame].bp,
                             'background-size': bgSizeW + ' ' + bgSizeH,
                             'position': 'absolute' } ">
            </div>

            </div>

        </section>

    </ion-content>
</ion-view>