<ion-view view-title="Course" has-back-button="false" hide-nav-bar="true">

    <ion-content scroll="false" class="mountain">

        <section class="course-container">


            <button class="button button-clear ion-chevron-left" ng-click="skipBackwards()" ng-disabled="!step.backButtonEnabled"
                    style="background-size: contain;
                    color: #000000;
                    position: absolute;
                    top: {{playButtonTop}};
                    left: 5px;
                    height: 50px;width: 50px; font-size: 30px">
            </button>


            <button ng-click="play()" class="button lifeup-text" ng-show="profile.showPlayButton"
                 style="background-size: contain;
                    position: absolute;
                    color: #000000;
                    top: {{playButtonTop}};
                    left: {{playButtonLeft}};
                    height: 50px;width: 60%;opacity: 0.6"> <p style="opacity: 1;">START {{step.name}} MODULE</p>
            </button>
            <button ng-click="climb()" class="button lifeup-text" ng-show="profile.readyToClimb"
                    style="background-size: contain;
                    position: absolute;
                    color: #000000;
                    top: {{playButtonTop}};
                    left: {{playButtonLeft}};
                    height: 50px;width: 60%;opacity: 0.6"> <p style="opacity: 1;">CLIMB!</p>
            </button>
            <button class="button button-clear ion-chevron-right" ng-click="skipForward()" ng-disabled="!forwardButtonEnabled"
                    style="background-size: contain;
                    position: absolute;
                    color: #000000;
                    top: {{playButtonTop}};
                    left: {{forwardButtonLeft}}px;
                    height: 50px;width: 50px;font-size: 30px">
            </button>

         <!--  <div  class="course-background"
                             style="background-image: url(spritePNGFile);
                             background-repeat: no-repeat;
                             width: {{items[step.frame].w}};
                             height: {{items[step.frame].h}};
                             top: {{items[step.frame].t}};
                             left: {{items[step.frame].l}};
                             background-position: {{items[step.frame].bp}};
                             background-size: {{bgSizeW}} {{bgSizeH}};
                             position: absolute;">
                </div>-->

             <div class="course-background"  ng-style="{'background-image': 'url('+spritePNGFile +')',
                             'background-repeat': 'no-repeat',
                             'width':  items[step.frame].w,
                             'height': items[step.frame].h,
                             'top': items[step.frame].t,
                             'left': items[step.frame].l,
                             'background-position': items[step.frame].bp,
                             'background-size': bgSizeW + ' ' + bgSizeH,
                             'position': 'absolute' } ">
            </div>

                <!-- <div class = "row">
                     <div class = "col text-center">
                         <a ui-sref="dashboard.I">I</a>
                     </div>
                 </div>

                 <div class = "row">
                     <div class = "col text-center">
                         <a ui-sref="dashboard.BE">BE</a>
                     </div>
                 </div>

                 <div class = "row">
                     <div class = "col text-center">
                         <a ui-sref="dashboard.ACT">ACT</a>
                     </div>
                 </div>

                 <div class = "row">
                     <div class = "col text-center">
                         <a ui-sref="dashboard.FLOW">FLOW</a>
                     </div>
                 </div>

                 <div class = "row">
                     <div class = "col text-center">
                         <a ui-sref="dashboard.SPACE">SPACE</a>
                     </div>
                 </div>

                 <div class = "row">
                     <div class = "col text-center">
                         <a ui-sref="dashboard.DISARM">DISARM</a>
                     </div>
                 </div>-->
        </div>

        </section>


    </ion-content>
</ion-view>