<ion-view view-title="Course" has-back-button="false" hide-nav-bar="true">

        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>

    <ion-content scroll="false" class="mountain" >

        <section class="course-container">


                        <div class="course-background"
                             style="
                             background-image: url({{spritePNGFile}});
                             background-repeat: no-repeat;
                             width: {{items[0].w}};
                             height: {{items[0].h}};
                             top: {{items[0].t}};
                             left: {{items[0].l}};
                             background-position: {{items[0].bp}};
                             background-size: {{bgSizeW}} {{bgSizeH}};
                             position: absolute;"></div>

            <div style="margin: 20px">
                <button ng-click="play()">PLAY</button>
                <button ng-click="restart()">RESTART</button>
                <button ng-click="load()">LOAD</button>
                <button ng-click="debug()">DEBUG</button>
            </div>


                <!-- <div class = "row">
                     <div class = "col text-center">
                         <a ui-sref="dashboard.I">I</a>
                     </div>
                 </div>

                 <div class = "row">
                     <div class = "col text-center">
                         <a ui-sref="dashboard.BE">BE</a>
                     </div>
                 </div>

                 <div class = "row">
                     <div class = "col text-center">
                         <a ui-sref="dashboard.ACT">ACT</a>
                     </div>
                 </div>

                 <div class = "row">
                     <div class = "col text-center">
                         <a ui-sref="dashboard.FLOW">FLOW</a>
                     </div>
                 </div>

                 <div class = "row">
                     <div class = "col text-center">
                         <a ui-sref="dashboard.SPACE">SPACE</a>
                     </div>
                 </div>

                 <div class = "row">
                     <div class = "col text-center">
                         <a ui-sref="dashboard.DISARM">DISARM</a>
                     </div>
                 </div>-->
        </div>

        </section>


    </ion-content>
</ion-view>