<ion-view view-title="{{title}}">

<ion-nav-buttons side="right">
    <button ng-click="completeModule()" menu-toggle="right" ng-disabled="!enableCompleteButton"
            class="button button-clear ion-android-checkbox-outline"
            style="color: white;font-size: 22px">
    </button>
</ion-nav-buttons>
<ion-nav-buttons side="left">
    <button ng-click="go()"
            class="button button-clear ion-chevron-left" style="color: white; font-size: 22px">
    </button>
</ion-nav-buttons>

<ion-slide-box on-slide-changed="slideHasChanged($index)">

<ion-slide class="slide">
    <ion-content class="courseSlide">

        <div class="lifeup-page-title">
            Discover unhelpful thoughts
        </div>

        <div class="lifeup-page-text-heading">
            DISARM: Discover, Identify, Separate, Allow, Recover, Master
        </div>


        <div class="lifeup-page-text">
            Practise 'Thought Monitoring' by using the DISARM technique, which is highly effective in interrupting
            repetitive unconscious thought patterns and emotions, helping to depersonalise and dissipate them.
        </div>

        <div class="lifeup-page-text-heading2">
            D is for Discover unhelpful thoughts
        </div>

        <div class="center">
            <img src="img/disarmBuddha.png" style="width: 90%;height: auto;margin: 5%"/>
        </div>


        <div class="lifeup-page-text-heading">
            Education
        </div>


        <div class="lifeup-page-text-heading2">
            STEP 1: Observe your thoughts
        </div>

        <div class="lifeup-page-text">
            Are you having any involuntary, automatic or repetitive thoughts?
            Is one thought fuelling another, and so on (snowballing)?
            Are you judging or labelling, criticising, complaining or overly comparing?
        </div>

        <div class="lifeup-page-text">
            Just observe these thoughts – but don’t judge them.
        </div>

        <div class="lifeup-page-text-heading2">
            STEP 2: Scan your body
        </div>

        <div class="lifeup-page-text">
            Direct your attention to the location of the feeling:
        </div>

        <div class="lifeup-page-text">
            <ol class="lifeup-page-text">
                <li type="a"> Are you feeling any tension, anxiety or stress?</li>
                <li type="a"> Is there any physical discomfort or unusual sensations?</li>
                <li type="a"> Are you feeling negativity, irritation, resentment, anger, dissatisfaction?</li>
            </ol>
        </div>

        <div class="lifeup-page-text">
            Consider the sensation and emotion. What situation/event is this linked to? What is the related thought and
            situation causing this emotion?
        </div>

        <hr class="line-margin">

        <div class="lifeup-page-text-heading">
            Activity
        </div>

        <div class="lifeup-page-text-heading2">
            “Thought Snap”
        </div>

        <div class="lifeup-page-text">
            A thought snap is a simple way to take a snapshot of your mind’s thought chatter.
        </div>

        <div class="lifeup-page-text">
            Either in your phone notes or in a journal, write down the following in as few words as possible.
        </div>

        <div class="lifeup-page-text">
            <ol>
                <li>1. The dominant thought</li>
                <li>2. The situation or likely trigger</li>
                <li>3. Your dominant emotion</li>
                <li>4. Your struggle Rating</li>
            </ol>
        </div>

        <div class="lifeup-page-text">
            The struggle rating is the strength of your emotions and how they are impacting on your state of mind on a
            scale of 1-10 (where 1 is ‘barely at all’ and 10 is ‘overwhelmed’).
        </div>

        <div class="lifeup-page-text">
            Don’t judge anything as good or bad, don't think too much about it, just notice a thought or emotion and
            ‘snap’ it. Remember, often it’s the emotion you discover first, which helps you uncover the related
            situation, from which you then discover the unhelpful thought.
        </div>

        <div class="lifeup-page-text-heading2">
            Examples:
        </div>

        <div class="lifeup-page-text">
            'Why doesn't my friend like me?!'
        </div>

        <div class="lifeup-page-text">
            Dave/Davina didn't call me back
        </div>

        <div class="lifeup-page-text">
            Annoyed / insecure
        </div>

        <div class="lifeup-page-text">
            7 out of 10 struggle
        </div>

        <div class="lifeup-page-text-heading2">
            Or
        </div>

        <div class="lifeup-page-text">
            'Everyone is relying on me, I can't fail'
        </div>

        <div class="lifeup-page-text">
            Delivery of management report to impossible timeline
        </div>

        <div class="lifeup-page-text">
            Overwhelmed, stressed, burned out, loss of control
        </div>

        <div class="lifeup-page-text">
            8 out of 10 struggle
        </div>

        <div class="lifeup-page-text-heading2">
            Or
        </div>

        <div class="lifeup-page-text">
            Trevor is so useless, I can't believe he got promoted over me!
        </div>

        <div class="lifeup-page-text">
            I got passed up for promotion again
        </div>

        <div class="lifeup-page-text">
            Frustrated/resentful/vengeful
        </div>

        <div class="lifeup-page-text">
            5 out of 10 struggle
        </div>
        <hr class="line-margin">

        <div class="lifeup-page-text-heading2">
            Take away
        </div>

        <div class="lifeup-page-text">
            'Thought Snap’ your thought chatter to discover any unhelpful thoughts and emotions - an essential part of
            interrupting, depersonalising and dissipating unhelpful thinking!
        </div>
    </ion-content>
</ion-slide>

<ion-slide class="slide">
    <ion-content class="courseSlide">

        <div class="lifeup-page-title">
            Identify the underlying script
        </div>

        <div class="lifeup-page-text-heading2">
            DISARM: Discover, Identify, Separate, Allow, Recover, Master
        </div>

        <div class="lifeup-page-text-heading2">
            I is for Identify the underlying script
        </div>

        <div class="lifeup-page-text-heading">
            Education
        </div>

        <div class="lifeup-page-text">
            Our internal narrative (what we’ve called ‘thought chatter') sometimes tells us things that aren’t the whole
            truth. For example we may say to ourselves, ‘I’m superior' or ‘I can't do it'.
        </div>

        <div class="lifeup-page-text">
            Unless we consciously choose to do otherwise, these thoughts will be taken personally and the associated
            beliefs, feelings and emotions will become integrated into our identity.
        </div>

        <div class="lifeup-page-text">
            Over time this mental conditioning (which is often unhelpful or negative) can feel like it’s part of who we
            are, something through which we experience the world. This is also the identity through which others
            experience us, and is often far removed from who we really are or who we want to be.
        </div>

        <div class="lifeup-page-text">
            This identity can be thought of as a mental projection of ourselves or 'self-image'. It acts as a barrier to
            living in the present moment and can obscure the innate sense of aliveness within us.
        </div>

        <div class="lifeup-page-text">
            No matter how wonderful your upbringing we all carry ‘emotional baggage’ that influences how you think and
            behave.
        </div>

        <div class="lifeup-page-text">
            The most common core beliefs distil down to either ‘I’m inferior’ or ‘I am superior'. Having these beliefs
            can lead us into using external means (e.g. relationships, possessions, status) to fill an internal sense of
            lack or incompleteness.
        </div>

        <div class="lifeup-page-text">
            These unconscious ‘core beliefs’ form the basis of scripts that can run our lives and act as a trigger for
            negative or unhelpful thoughts and behaviours.
        </div>

        <div class="lifeup-page-text">
            By identifying the script we can further depersonalise and dissipate unhelpful thought patterns.
        </div>

        <hr class="line-margin">

        <div class="lifeup-page-text-heading">
            Activity
        </div>

        <div class="lifeup-page-text">
            Remind yourself of your thought snap from yesterday. Do the dominant thoughts and emotions you identified
            have an underlying script? If so, it could be one of the following. Do any of these ring true?
        </div>

        <div class="lifeup-page-text">
            <ol class="lifeup-page-text">
                <li type="disc">I need to have control over the situation, myself, others.</li>
                <li type="disc">I don’t have the capacity.</li>
                <li type="disc">This is how the world is.</li>
                <li type="disc">I’m not allowed to be capable.</li>
                <li type="disc">I need to be perfect/liked.</li>
                <li type="disc">I don’t belong.</li>
                <li type="disc">I’m insignificant / unlovable / not good enough.</li>
                <li type="disc">Other?</li>
            </ol>
        </div>
        <div class="lifeup-page-text">
            Well done on whatever you discovered, now set your intention for tomorrow!
        </div>

        <hr class="line-margin">

        <div class="lifeup-page-text-heading">
            Take away
        </div>

        <div class="lifeup-page-text">
            By identifying the underlying script driving your dominant thoughts, we further depersonalise and dissipate
            unhelpful thinking.
        </div>

    </ion-content>
</ion-slide>

<ion-slide class="slide">
    <ion-content class="courseSlide">

        <div class="lifeup-page-title">
            Separate yourself from your thoughts (the breakup!)
        </div>

        <div class="lifeup-page-text-heading2">
            DISARM: Discover, Identify, Separate, Allow, Recover, Master
        </div>

        <div class="lifeup-page-text-heading2">
            S is for Separate yourself from your thoughts
        </div>

        <div class="center">
            <img src="img/disarmTolle.png" style="width: 90%;height: auto;margin: 5%"/>
        </div>

        <div class="lifeup-page-text-heading">
            Education
        </div>

        <div class="lifeup-page-text">
            The aim of separation is not to get rid of unpleasant thoughts, but rather to see them for what they are –
            just unspoken words, and not reality.
        </div>

        <div class="lifeup-page-text">
            You’re not trying to deny your thoughts, push them away or drown them out with positivity. Separation
            techniques use language, which is closely coupled with thought, to reposition the thought and to show you
            that the thought is separate from you.
        </div>

        <div class="lifeup-page-text">
            With practice you can expect to separate from your thoughts very quickly, without the need for specific
            techniques.
        </div>

        <hr class="line-margin">

        <div class="lifeup-page-text-heading">
            Activity
        </div>

        <div class="lifeup-page-text">
            Use your thought snap from the previous day and try out any one of these separation techniques.
        </div>

        <div class="lifeup-page-text">
            <strong>Noticing.</strong> If you have a thought that upsets or is just unhelpful, state internally, ‘I
            notice I’m having the thought that…’ This creates distance between you and the unhelpful thoughts.
        </div>

        <div class="lifeup-page-text">
            <strong>Naming.</strong> Identify your mind’s favourite stories, then give them names. Recognise the common
            script that plays on repeat. For example, you could say to yourself, ‘That’s just the “I'm unattractive”
            story again.’ Or you might say, ‘Not that unhelpful thought again, am I really still giving it my
            attention?’
        </div>

        <div class="lifeup-page-text">
            <strong>TV channel.</strong> Imagine your thought being aired on a television - simply leave it to play in
            the background, whilst you focus on something more important.
        </div>

        <div class="lifeup-page-text">
            <strong>Journaling.</strong> Write down your thoughts, This helps to quiet the mind as the thoughts have an
            outlet and can be noticed and consciously expressed.
        </div>

        <hr class="line-margin">

        <div class="lifeup-page-text-heading">
            Take away
        </div>

        <div class="lifeup-page-text">
            By using separation techniques, unhelpful thoughts decrease in validity and you are less likely to consider
            them absolute truth or an accurate representation of reality.
        </div>

    </ion-content>
</ion-slide>

<ion-slide class="slide">
    <ion-content class="courseSlide">


        <div class="lifeup-page-title">
            Allowing thoughts and emotions
        </div>

        <div class="lifeup-page-text-heading2">
            DISARM: Discover, Identify, Separate, Allow, Recover, Master
        </div>

        <div class="lifeup-page-text-heading2">
            A is for Allow any thoughts and emotions
        </div>

        <div class="center">
            <img src="img/disarmJung.png" style="width: 90%;height: auto;margin: 5%"/>
        </div>

        <div class="lifeup-page-text-heading">
            Education
        </div>

        <div class="lifeup-page-text">
            We should not struggle to eliminate unhelpful thoughts. At times they will go away quickly, and at times
            they won’t. If you start expecting them to go, you are setting yourself up for disappointment or frustration
            as you battle against them.
        </div>

        <div class="lifeup-page-text">
            You may or may not be able to fully accept a situation but you can at least accept that you are having
            unhelpful thoughts and emotions about the situation.
        </div>

        <div class="lifeup-page-text">
            Don't try to change or fight them. By allowing them just to be, we do not further fuel them. If we try to
            fight and resist them they consume our attention and will only grow in strength.
        </div>

        <div class="lifeup-page-text">
            By positively asserting our acceptance of unhelpful thoughts we help ourselves to actually allow them to be.
        </div>

        <div class="lifeup-page-text">
            This approach may seem a little over-engineered at first but remember thoughts drive behaviour and behaviour
            drives thoughts.
        </div>

        <div class="lifeup-page-text">
            By positively asserting that we allow the unhelpful thoughts 'to be' it drives a behaviour of acceptance and
            actually further depersonalises and dissipates unhelpful thoughts as they are not fuelled by our attention.
        </div>

        <hr class="line-margin">

        <div class="lifeup-page-text-heading">
            Activity
        </div>

        <div class="lifeup-page-text">
            Use your thought snap from the previous day (or take another) and try out any one of these linguistic
            allowance techniques.
        </div>

        <div class="lifeup-page-text">
            <ol class="lifeup-page-text">
                <li type="disc">‘I accept I am having unhelpful thoughts and emotions about...'</li>
                <li type="disc">Or just label it 'thinking...'</li>
                <li type="disc">Thanking your mind. State (internally) 'Thanks, mind!' or 'Thanks, mind for your amazing
                    storytelling ability!' Say it with warmth and humour and with a genuine appreciation for the mind.
                    Just recognise it’s only a story!
                </li>
            </ol>
        </div>

        <div class="lifeup-page-text-heading">
            Take away
        </div>

        <hr class="line-margin">

        <div class="lifeup-page-text">
            By positively asserting that we allow the unhelpful thoughts 'to be' it drives a behaviour of acceptance and
            actually further depersonalises and dissipates unhelpful thoughts as they are not fuelled by our attention.
        </div>
    </ion-content>
</ion-slide>

<ion-slide class="slide">
    <ion-content class="courseSlide">

        <div class="lifeup-page-title">
            Recover your mind
        </div>

        <div class="lifeup-page-text-heading2">
            DISARM: Discover, Identify, Separate, Allow, Recover, Master
        </div>

        <div class="lifeup-page-text-heading2">
        R is for Recover your mind
        </div>

        <div class="center">
            <img src="img/disarmNang.png" style="width: 90%;height: auto;margin: 5%"/>
        </div>

        <div class="lifeup-page-text-heading">
        Education
        </div>

        <div class="lifeup-page-text">
            Over thinking and over analysing situations can strain our mental muscle. This can lead to tension headaches
            and stress, decreasing our effectiveness. This strain also builds up over time and our energy reserves can
            be depleted, potentially leading to burnout.
        </div>


        <div class="lifeup-page-text">
            To avoid this, take a regular mental break every 90 to 120 minutes. Step away from whatever is driving your
            thoughts such as your inbox or your life situation. Not sure how to do this? Read on!
        </div>

        <hr class="line-margin">

        <div class="lifeup-page-text-heading">
        Activity
        </div>

        <div class="lifeup-page-text-heading2">
        "Thought Break"
        </div>

        <div class="lifeup-page-text">
        A Thought Break is five power breaths.
        </div>

        <div class="lifeup-page-text">
        As always, remember to <font class="lifeup-page-text-heading2">BREATHE! </font>
        </div>

        <div class="lifeup-page-text">
            <ul dir="ltr">
                <li style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><span ><span style="color:#34AABC"><strong>B</strong></span>reathe <span style="color:#34AABC"><strong>R</strong></span>hythmically, <span style="color:#34AABC"><strong>E</strong></span>venly <span style="color:#34AABC"><strong>A</strong></span>nd, <span style="color:#34AABC"><strong>T</strong></span>hrough the <span style="color:#34AABC"><strong>H</strong></span>eart <span style="color:#34AABC"><strong>E</strong></span>verytime</span></li>
            </ul>
        </div>

        <div class="lifeup-page-text">
        To avoid any feelings of discomfort or shortness of breath use ‘ujjayi' (yogic) breathing during your Thought
        Break. With your mouth closed, inhale and exhale through your nose while gently constricting your throat
        muscles. If you are doing this correctly, you might sound a bit like you’re very gently snoring!
        </div>

        <div class="lifeup-page-text">
        Ensure a proper exhale to give your lungs a chance to empty. Don’t force the inhale, it will happen naturally if
        you fully exhale. Allow this slow constricted breathing to rebalance the gases in your bloodstream and relax
        your mind and body.
        </div>


        <div class="lifeup-page-text">
        Now take your five power breaths as follows:
        </div>

        <div class="lifeup-page-text">
            <ol class="lifeup-page-text">
                <li type="disc">As you breathe in, count in your mind ‘5 in’, and as you breathe out, count ‘5 out”. Breathe in, count ‘4 in’.
                Breathe out, count ‘4 out’, and so on.</li>

                <li type="disc">Continue the count down to ‘1 out’. If you forget what number you are at or are unsure, restart at 5.</li>

                <li type="disc">The best way to notice if your mind has wandered is to listen to the way you say each number. Listen to the
            inflection of the count... do you say ‘3 in!!’ or is it more of a ‘3 in.....?’</li>
            </ol>
        </div>


        <hr class="line-margin">

        <div class="lifeup-page-text-heading">
        Take away
        </div>

        <div class="lifeup-page-text">
        Constant overthinking can strain our mental muscle. So take a regular ‘thought break’.
        </div>

    </ion-content>
</ion-slide>

<ion-slide class="slide">
    <ion-content class="courseSlide">


        <div class="lifeup-page-title">
        Mastery of your thoughts
        </div>

        <div class="lifeup-page-text-heading">
        DISARM: Discover, Identify, Separate, Allow, Recover, Master
        </div>

        <div class="lifeup-page-text-heading">
        M is for Mastery over your thoughts
        </div>

        <div class="center">
            <img src="img/disarmBuddha2.png" style="width: 90%;height: auto;margin: 5%"/>
        </div>

        <div class="lifeup-page-text-heading">
        Education
        </div>

        <div class="lifeup-page-text">
        When your attention wanders onto your unhelpful thoughts they can snowball and grow in your mind until they cloud your views and behaviour.
        </div>

        <div class="lifeup-page-text">
        Picture your mind like a clear blue sky, expansive and ever-present. Now imagine your thoughts floating by like clouds. Remember there is a calm, still peaceful place behind turbulent thoughts and feelings.
        </div>

        <div class="lifeup-page-text">
        The sky can always make room for the weather. The calm follows the storm. The calm sky is always there when the weather has passed, still and expansive.
        </div>

        <div class="lifeup-page-text">
        It’s easy to forget that you have a choice whether to believe your thoughts or not, a choice whether to take them personally; a choice to find the space around thoughts.
        </div>

        <div class="lifeup-page-text">
        By regularly noticing we are not our thoughts and by making a regular positive assertion that we are separate from our thoughts, we re-gain mastery of our minds.
        </div>

        <hr class="line-margin">

        <div class="lifeup-page-text-heading">
        Activity
        </div>

        <div class="lifeup-page-text">
        Read this sentence a few times, silently to yourself.
        </div>

        <div class="lifeup-page-text">
        ‘I can hear the voice in my head reading this sentence’
        </div>

        <div class="lifeup-page-text">
        Notice how you can listen to the soundtrack of thoughts inside your head? This is a little trickier the first time you try it so don't worry if it wasn't obvious. With a little practice you can notice how you can observe your own thought process objectively.
        </div>

        <div class="lifeup-page-text">
        Now say this sentence a few times, silently to yourself. Listen as you say it.
        </div>

        <div class="lifeup-page-text">
        I choose not to personalise my thoughts’ about... [insert thought here]
        </div>


        <hr class="line-margin">

        <div class="lifeup-page-text-heading">
        Take away
        </div>

        <div class="lifeup-page-text">
        By regularly observing that we are not our thoughts, we re-gain mastery of our minds.
        </div>

    </ion-content>
</ion-slide>


</ion-slide-box>
</ion-view>

