<ion-view class="lifeup-bg" view-title="DISARM" has-back-button="false">

        <ion-nav-buttons side="right">
            <button ng-click="go()" menu-toggle="right" class="button button-icon ion-android-checkbox-outline"></button>
        </ion-nav-buttons>

        <ion-slide-box class="slidebox" on-slide-changed="slideHasChanged($index)">

            <ion-slide class="center slide">
                SLIDE 1
            </ion-slide>

            <ion-slide class="center slide">
                SLIDE 2
            </ion-slide>

        </ion-slide-box>

</ion-view>
