<ion-modal-view ng-class="{blur: blurBackground}" class="image-modal">

<ion-header-bar class="lifeup-bg">

    <div class="title lifeup-nav-title">FLOW</div>

    <button ng-click="hideModal()"
            class="button button-clear ion-chevron-left" style="color: white; font-size: 22px">
    </button>

    <button ng-click="completeModule()" menu-toggle="right" ng-disabled="!enableCompleteButton"
            class="button button-clear ion-android-checkbox-outline {{animateCompleteButton}}"
            style="color: white;font-size: 24px">
    </button>

</ion-header-bar>

<ion-content style="height: 100vh" class="has-header">
    <ion-slide-box class="course" on-slide-changed="slideHasChanged($index)">
        <ion-slide>
            <ion-scroll direction="y" style="height: 90vh;bottom: 20px" >
                <div class="lifeup-page-title">
                Focus your attention
                </div>

                <div style="width: 100%" >
                    <div class="row row-center" style="opacity: 1">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">F</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">FOCUS</span>
                        </div>
                    </div>
                    <div class="row row-center" style="opacity: 0.5">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">L</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">LISTEN</span>
                        </div>
                    </div>
                    <div class="row row-center" style="opacity: 0.5">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">O</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">OBSERVE</span>
                        </div>
                    </div>
                    <div class="row row-center" style="opacity: 0.5">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">W</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">WATCH</span>
                        </div>
                    </div>
                </div>

                <div class="lifeup-page-text-heading">
                    F is for Focus
                </div>

                <div class="lifeup-page-text">
                    Practise focusing your attention by using the FLOW technique to help you consciously choose to place your attention on things that really matter and avoid burning it up on things that don't. Get 'in the flow' to energise your life, relationships and work!
                </div>

                <div class="center">
                    <img src="img/flowOprah.png" style="width: 90%;height: auto;margin: 5%"/>
                </div>

                <div class="lifeup-page-text-heading">
                    Education
                </div>

                <div class="lifeup-page-text">
                <span style="color:#34AABC">Focus your attention</span> – Reconnect with the present moment and the task at hand.
                    <br><br>
                In the modern world it can not only be very difficult to switch off but evidence is showing that our attention spans are getting shorter. Our brains are actually rewiring! This is making it difficult for us to hold our attention in the moment.
                    <br><br>
                By practising paying close attention, we can cut through distracting thought chatter and overcome the mind’s predisposition to constantly think, judge and narrate.
                    <br><br>
                That’s why physical activity and other activities that require extreme focus (like rock climbing, hot yoga or surfing) help to still the mind.
                    <br><br>
                Paying attention is not about avoiding or denying unpleasant thoughts, or even our own life situation. Instead, it is about making a conscious decision to attend to that which you want to become stronger in your life.
                    <br><br>
                When we pay attention, we are 'in the flow' – top athletes describe it as being ‘in the zone’. Mihaly Csikszentmihalyi explains it as being “fully immersed in a feeling of energised focus, full involvement and enjoyment in the process of the activity.
                    <br><br>
                Emotions are not just contained and channelled, but positive, energised, and aligned with the task at hand.”
                    <br><br>
                </div>

                <hr class="line-margin">


                <div class="lifeup-page-text-heading">
                Activity
                </div>

                <div class="lifeup-page-text">

                Practise paying attention:

                <br><br>

                <ol class="lifeup-page-text">
                    <li type="disc">Repeat once more - if your mind wanders, bring the focus back onto the finger.For ten seconds hold your focus on tip of your left index finger. Hold it so fiercely that there is no room for anything else such as wandering thoughts.</li>
                   <br>
                    <li type="disc">For the next five seconds, continue to look at the finger but allow yourself to think about anything.</li>
                    <br>
                    <li type="disc">Repeat once more - if your mind wanders, bring the focus back onto the finger.</li>
                </ol>

                <br>

                By switching between thought and ‘thoughtless awareness’ in this way, we build our mindfulness muscle to be able to focus when needed.

                    </div>

                <hr class="line-margin">


                <div class="lifeup-page-text-heading">
                Take away
                </div>

                <div class="lifeup-page-text">
                By practising paying attention, we build our mindfulness muscle to be able to fully focus when needed and overcome the mind's predisposition to constantly think, judge and narrate.
                </div>

        </ion-scroll>
        </ion-slide>


        <ion-slide class="slide">
            <ion-scroll direction="y" style="height: 90vh;bottom: 20px" class="">

                <div class="lifeup-page-title">
                Listen to your body!
                </div>

                <div style="width: 100%" >
                    <div class="row row-center" style="opacity: 0.5">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">F</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">FOCUS</span>
                        </div>
                    </div>
                    <div class="row row-center" style="opacity: 1">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">L</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">LISTEN</span>
                        </div>
                    </div>
                    <div class="row row-center" style="opacity: 0.5">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">O</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">OBSERVE</span>
                        </div>
                    </div>
                    <div class="row row-center" style="opacity: 0.5">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">W</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">WATCH</span>
                        </div>
                    </div>
                </div>

                <div class="lifeup-page-text-heading">

                L is for Listen to your body -  it tells you when your attention has gone elsewhere!

                </div>

                <div class="center">
                    <img src="img/flowTolle.jpg" style="width: 90%;height: auto;margin: 5%"/>
                </div>


                <div class="lifeup-page-text-heading">
                Education
                </div>

                <div class="lifeup-page-text">

                Your attention is a finite resource and when it gets overstretched, the body let's you know via physical feelings and sensations such as agitation, stress and impatience.
                    <br><br>
                Without us realising it, our attention can often wander away from what we are actually doing. Often it wanders onto unhelpful thoughts. These may be thoughts you notice in your head, or subconscious ones that you don't. It is this 'thought chatter' that triggers the emotions and sensations of stress, worry and anxiety or just feeling rushed.
                    <br><br>
                The sensation of rushing occurs more specifically when you are trying to get somewhere else, often to some ‘better’ situation. You live in such a way as if the present moment is an obstacle to overcome or a means to an end, or an enemy.  When you are ‘here’ but wanting to be ‘there’ an anxiety gap opens up, and you feel rushed and stressed.
                    <br><br>
                By listening to our body we can catch when our attention has wandered. We can become 'aware of where our attention is' and then refocus it to present moment awareness and thus get back into the flow.

                </div>

                <hr class="line-margin">

                <div class="lifeup-page-text-heading">
                Activity
                </div>

                <div class="lifeup-page-text">

                When was the last time you listened to your body? Try it now with this exercise:

                <ol class="lifeup-page-text">
                    <li type="disc">Are you feeling tense, irritated or agitated?  Anxious or stressed? Are you feeling rushed? Does your chest feel tight? Are you shallow breathing, breathing quickly or even holding your breath?</li>
                    <br>
                    <li type="disc">What is it that is taking/dividing your attention?</li>
                    <br>
                    <li type="disc">Can it wait, do you need to reflect on the priorities or deadlines you are setting yourself? Can you timebox what you are doing now?</li>
                    <br>
                    <li type="disc">Do you need to take a Thought Break or use one of the elements you’ve already discovered here at LifeUp, such as the DISARM or SPACE techniques?</li>
                </ol>

                </div>

                <hr class="line-margin">

                <div class="lifeup-page-text-heading">
                Take away
                </div>

                <div class="lifeup-page-text">
                Your attention is limited and when it gets overstretched the body lets you know via physical feelings and sensations such as irritation, agitation, anxiety, stress and feeling rushed. Take a Thought Break or make SPACE to get back in the 'FLOW'.
                </div>

</ion-scroll>        </ion-slide>


        <ion-slide class="slide">
            <ion-scroll direction="y" style="height: 90vh;bottom: 20px" class="">

                <div class="lifeup-page-title">
                    Observe your behaviour
                </div>

                <div style="width: 100%" >
                    <div class="row row-center" style="opacity: 0.5">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">F</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">FOCUS</span>
                        </div>
                    </div>
                    <div class="row row-center" style="opacity: 0.5">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">L</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">LISTEN</span>
                        </div>
                    </div>
                    <div class="row row-center" style="opacity: 1">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">O</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">OBSERVE</span>
                        </div>
                    </div>
                    <div class="row row-center" style="opacity: 0.5">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">W</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">WATCH</span>
                        </div>
                    </div>
                </div>


                <div class="lifeup-page-text-heading">

                O is for Observe - it's not what you do, but how you do it
                </div>

                <div class="center">
                    <img src="img/flowGandhi.jpg" style="width: 90%;height: auto;margin: 5%"/>
                </div>

                <div class="lifeup-page-text-heading">
                Education
                </div>

                <div class="lifeup-page-text">
                    As well as listening to our body, we can also observe our behaviour to check if we are in the flow.
                    <br><br>
                    Behaviours such as judging, complaining and resenting are sure signs we are not in a state of 'flow'. In addition, these behaviours serve to build and reinforce the self-image further feeding unhelpful 'thought chatter'.
                    <br><br>
                    Use your behaviour as alerts that you are not paying attention to your present moment, that you are not fully 'in the flow'.  Refocus on what you are doing right now. If the behaviour persists, you need to DISARM unhelpful thoughts, take a ‘Thought Break’ and/or create some SPACE.
                    <br><br>
                    Remember that from a state of presence things are much less likely to bother you, which allows you to maintain your headspace and focus time and energy on what is important in your life.
                </div>

                <hr class="line-margin">

                <div class="lifeup-page-text-heading">
                    Activity
                </div>

                <div class="lifeup-page-text">

                Observe your thoughts and behaviour:

                    <ol class="lifeup-page-text">
                        <li type="disc">Are you judging, complaining resenting or overly comparing?</li>
                        <br>
                        <li type="disc">Are you distracted, forgetting how you got somewhere or why you went there?</li>
                        <br>
                        <li type="disc">Are you battling through what you are doing?</li>
                        <br>
                        <li type="disc">Is the present moment an obstacle to get through?</li>
                        <br>
                        <li type="disc">Are you behaving as if you are superior/inferior to others?</li>
                        <br>
                        <li type="disc">When you are made to wait for something are you getting agitated?</li>
                        <br>
                        <li type="disc">Are you excessively consuming - food, drink, TV, possessions?</li>
                        <br>
                        <li type="disc">When you meet someone, what do you focus on? Do you immediately focus on their flaws and allow those imperfections to magnify in your awareness?  Put your attention on the person’s finer qualities, and allow appreciation of those aspects to strengthen and develop.</li>

                    </ol>
                </div>
                <hr class="line-margin">

                <div class="lifeup-page-text-heading">
                Take away
                </div>

                <div class="lifeup-page-text">
                Notice your behaviour. Use negative mental states (such as judging, complaining, resenting) as alerts that you are not fully present in the moment in a state of 'flow'.  DISARM any unhelpful thoughts driving this behaviour
                </div>

</ion-scroll>
        </ion-slide>


        <ion-slide class="slide">
            <ion-scroll direction="y" style="height: 90vh;bottom: 20px" class="">

                <div class="lifeup-page-title">
                Watch your attention
                </div>

                <div style="width: 100%" >
                    <div class="row row-center" style="opacity: 0.5">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">F</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">FOCUS</span>
                        </div>
                    </div>
                    <div class="row row-center" style="opacity: 0.5">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">L</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">LISTEN</span>
                        </div>
                    </div>
                    <div class="row row-center" style="opacity: 0.5">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">O</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">OBSERVE</span>
                        </div>
                    </div>
                    <div class="row row-center" style="opacity: 1">
                        <div style="text-align: right" class="col-25">
                            <span class="lifeup-acronym-title">W</span>
                        </div>
                        <div class="col-50" style="margin-left: 15px">
                            <span class="lifeup-acronym-title">WATCH</span>
                        </div>
                    </div>
                </div>

                <div class="lifeup-page-text-heading">

                W is for Watch your attention – watch out for your attention wandering!
                </div>

                <div class="center">
                    <img src="img/flowSmith.png" style="width: 90%;height: auto;margin: 5%"/>
                </div>

                <div class="lifeup-page-text-heading">
                    Education
                </div>

                <div class="lifeup-page-text">

                    By continually watching our attention during everyday activities and refocusing it when it wanders, we can ensure we stay in the moment, in the 'flow', connected to life’s fullest experience.
                    <br><br>
                    This leads to a much richer, deeper, more discernable experience of life; we are able to feel the wonder and awe in the everyday and live life in high-definition colour.
                    <br><br>
                    Staying in present moment awareness is an active choice that needs to be made again and again until it becomes habit. By continually checking where your attention is, and refocusing it when necessary, you can pay full attention and stay 'in the flow'. With practice this can become an unconscious habit.
                    <br><br>
                    Use everyday, frequent, repetitive situations as triggers to ask yourself, “Where is my attention right now?”  Going, doing, making, walking somewhere? Phone ringing?  Taking a car journey?  Making a cup of tea? As often as possible, check in and ask yourself, “Where’s my attention?”
                    <br><br>
                    Waiting at traffic lights, washing your hands, waiting for the lift, a bus, a friend, or in a shop queue.  Harness these situations to prompt you to step through the FLOW process and get back 'in the flow'.

                </div>

                <hr class="line-margin">

                <div class="lifeup-page-text-heading">
                Activity
                </div>

                <div class="lifeup-page-text">

                Practise ‘taking notice’.
                    <ol class="lifeup-page-text">
                        <li type="disc">Take the time for a conscious breath.</li>
                        <br>
                        <li type="disc">For five seconds, one by one, notice all the sounds you can hear around you and in the distance.</li>
                        <br>
                        <li type="disc">For the next five seconds as you continue to notice what you can hear, be aware that you’re noticing.</li>
                        <br>
                        <li type="disc">Now, for the next five seconds, look around and notice what you can see.</li>
                        <br>
                        <li type="disc">For the next five seconds, as you continue to notice what you can see, be aware that you’re noticing.</li>
                        <br>
                        <li type="disc">Now, for the last five seconds, put your attention in your feet.</li>
                    </ol>
                  </div>

                <hr class="line-margin">

                <div class="lifeup-page-text-heading">
                Take away
                </div>

                <div class="lifeup-page-text">
                Going, doing, making, walking somewhere?  Phone ringing?  Taking a car journey?  Making a cup of tea?  As often as possible, check in and ask yourself, “Where’s my attention?” Start with something you do frequently, for example use washing your hands, or waiting for a bus as a trigger.
                </div>


</ion-scroll>
        </ion-slide>

    </ion-slide-box>
</ion-content>
</ion-modal-view>