<ion-modal-view>
    <ion-header-bar class="lifeup-bg" align-title="center">

        <div class="title lifeup-nav-title">Instructions</div>

        <div class="buttons">
            <button class="button button-clear ion-android-close"
                    style="font-size: 30px;color: white"
                    ng-click="closeModal()"></button>
        </div>

    </ion-header-bar>
    <ion-content class="lifeup-bg center">

        <br><br>





        Once you start the course you'll see some buttons like these to navigate through the course content:
        <br>


        <div class="center" style="margin: auto; background-color: white;width: 80%;height: 44px; ;opacity: 0.7;">
            <button class="button button-clear ion-chevron-left"
                    style="
                    color: #009689;
                    left: 0%;
                    height: 26px;width: 26px; font-size: 26px">
            </button>

            <button  class="button button-clear lifeup-course-buttons"
                     style="
                    color: #009689;
                    height: 20px;width: 60%;">OPEN 'DISARM' MODULE
            </button>

            <button class="button button-clear ion-chevron-right"
                    style="
                    color: #009689;
                    right: 0%;
                    height: 30px;width: 30px;font-size: 26px">
            </button>

        </div>





    </ion-content>
</ion-modal-view>