<ion-modal-view>
    <ion-header-bar class="lifeup-bg" align-title="center">

        <div class="title lifeup-nav-title">Instructions</div>

        <div class="buttons">
            <button class="button button-clear ion-android-close"
                    style="font-size: 30px;color: white"
                    ng-click="closeModal()"></button>
        </div>

    </ion-header-bar>
    <ion-content class="lifeup-bg">

        <div class="lifeup-instructions">

            <ol class="lifeup-instructions">
                <li type="1">
                    The LifeUp Mindfulness Mountain Challenge is a Mindfulness course which is fully embedded within this app.
                </li>

                <br>

                <li type="1">
                    The course consists for 6 modules; DISARM, SPACE, FLOW, ACT, BE and I, each of which have a number of slides
                    - the number of letters in the module name corresponds with the number of slides in the module. In fact, each
                    module name is an acronym for the content of that module for example in the </strong>ACT</strong> module there are three slides;
                    <strong>Accept</strong>, <strong>Connect</strong> and <strong>Take</strong>.
                </li>

                <br>

                <li type="1">
                    When you first start the course you will be at the DISARM module which is the lowers level of the course and
                    of the midfulness mountain.
                </li>

                <br>

                <li type="1">
                    On the course page you'll see some buttons like the ones below to navigate through the course content:
                </li>

            </ol>


        </div>

        <div class="" style="margin: auto; background-color: white;width: 80%;height: 44px; ;opacity: 0.7;">
            <button class="button button-clear ion-chevron-left"
                    style="
                    color: #009689;
                    left: 0%;
                    height: 26px;width: 26px; font-size: 26px">
            </button>

            <button  class="button button-clear lifeup-course-buttons"
                     style="
                    color: #009689;
                    height: 20px;width: 60%;">OPEN 'DISARM' MODULE
            </button>

            <button class="button button-clear ion-chevron-right"
                    style="
                    color: #009689;
                    right: 0%;
                    height: 30px;width: 30px;font-size: 26px">
            </button>

        </div>

        <div class="lifeup-instructions">

            <ol start="5" class="lifeup-instructions">
                <li type="1">

                    When the backwards < and forwards > buttons are enabled you can navigate backwards and forwards through
                    the course modules. These buttons will not always be enabled. If you are on the first module you can not
                    navigate backwards. Also you can not navigate forwards if you have not completed the course content at
                    your current level.

                </li>

                <br>

                <li type="1">
                   Once you have opened a module by clicking the OPEN 'DISARM' MODULE the module content will be displayed.
                   You will see some dots at the bottom of the module that represent the number of slides in the module.
                </li>

                <br>

                <li type="1">
                    To go from one slide to the next just swipe your finger across the screen from right to left to move forwards
                    and from left to right to move backwards.
                </li>

                <br>

                <li type="1">
                    On the last slide of each module a tick button in the top right corner of the screen will become enabled
                    and you can click this button to complete this model. Upon clicking this button you will be taken back to the
                    main course page and you will see a 'CLIMB!' button at the bottom of the screen:
                </li>

            </ol>

        </div>

        <div class="center" style="margin: auto; background-color: white;width: 80%;height: 44px; ;opacity: 0.7;">
            <button class="button button-clear ion-chevron-left"
                    style="
                    color: #009689;
                    left: 0%;
                    height: 26px;width: 26px; font-size: 26px">
            </button>

            <button  class="button button-clear lifeup-course-buttons"
                     style="
                    color: #009689;
                    height: 20px;width: 60%;">CLIMB!
            </button>

            <button class="button button-clear ion-chevron-right"
                    style="
                    color: #009689;
                    right: 0%;
                    height: 30px;width: 30px;font-size: 26px">
            </button>

        </div>

        <div class="lifeup-instructions">

            <ol start="9" class="lifeup-instructions">
                <li type="1">

                    Click the CLIMB! button to climb up to the next level of the course. Once Mike reaches the next level of the
                    course, you can then open the content for that level.

                </li>

                <br>

                <li type="1">
                    Once you have completed the course you can go back and review any of the content at any level again.
                </li>

                <br>

                <li type="1">
                    If you have any more questions that are not answered here please feel free to email Alex at alex@lifeup.be
                </li>

            </ol>

        </div>

    </ion-content>
</ion-modal-view>