<ion-modal-view>
    <ion-header-bar class="lifeup-bg">
        <h1 class="title lifeup-text">Welcome to Life Up</h1>
    </ion-header-bar>
    <ion-content class="lifeup-bg center">

        <div class="lifeup-text">
            <p>
                You are now signed in an ready to embark on the challenge to climb Mindfulness Mountain.
                As you progress through the course you (and Mindfulness Mike) will climb the mountain together.
            </p>

            <p>
                User the controls to get navigate through the course. Each time you reach a flag, press play to view
                the associated content for that stage.
            </p>

            <p>
                We're pretty sure you''l get the hang of if jsut find, but if you get stuck at any point just press
                the question mark icon can you can view a detailed set of instructions.
            </p>

            <p> Press the play button to view the content for that flag. Once youve completed that stage of the course
            Mike will climb up the mountain to the next stage!</p>
        </div>

        <button ng-click="closeModal()" class="button button-clear lifeup-button">OK, Let's go!</button>

    </ion-content>
</ion-modal-view>