<ion-view view-title="SPACE" >

    <ion-nav-buttons side="right">
        <button ng-click="completeModule()" menu-toggle="right" ng-disabled="!lastSlide"
                class="button button-clear ion-android-checkbox-outline"
                style="color: white;font-size: 24px">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button ng-click="go()"
                class="button button-clear ion-chevron-left" style="color: white;font-size: 24px">
        </button>
    </ion-nav-buttons>

    <ion-slide-box active-slide="userActiveSlide" on-slide-changed="slideHasChanged($index)">

        <ion-slide class="slide">
            <ion-content class="courseSlide">

                <div class="lifeup-page-title">
                Smile - it's proven to make you feel good
                </div>

                <div class="lifeup-page-text-heading2">
                SPACE:  Smile, Perspective, Appreciation and forgiveness, Connect, Emotions
                </div>

                <div class="lifeup-page-text-heading2">
                Create head space by using the SPACE technique to rest & relax and allow your happiness and creativity to emanate through.
                </div>

                <div class="lifeup-page-text-heading2">
                S is for Smile  - it's free!
                </div>

                <div class="center">
                    <img src="img/spaceSmile.png" style="width: 90%;height: auto;margin: 5%"/>
                </div>

                <div class="lifeup-page-text-heading">
                Education
                </div>

                <div class="lifeup-page-text-heading2">
                What is headspace?
                </div>

                <div class="lifeup-page-text">
                If you can sense an alert inner stillness in the background while things happen in the foreground - that’s your headspace. Remember, you can’t find it as if you were looking for an object, because it isn't an object, it’s space.  However you can connect with it!
                </div>

                <div class="lifeup-page-text">
                Amazingly, if you want to connect with your headspace the first step is to just simply smile. Got nothing to smile about? Don't fret - it's scientifically proven that you can 'fake it till you make it'!
                </div>

                <div class="lifeup-page-text">
                Research shows that the simple act of turning your mouth up, whether authentic or not, can help release endorphins, the feel-good hormones and serotonin, a chemical that’s a natural stress-reducer.
                </div>

                <div class="lifeup-page-text">
                Many top executives use the technique of smiling in the mirror each morning, as a way to create space and start the day in the right mindset.
                </div>

                <div class="lifeup-page-text">
                Remember that smiling is not only free but it's contagious! When you smile the world smiles with you…
                </div>

                <hr class="line-margin">

                <div class="lifeup-page-text-heading">
                Activity
                </div>

                <div class="lifeup-page-text">
                    <ol class="lifeup-page-text">
                        <li type="disc">Take a few breaths then smile playfully as if you just remembered something funny.  Focus on the upturned corners of your mouth.</li>
                        <li type="disc">Notice how it relaxes the entire face and head, and starts to make you feel good inside!</li>
                        <li type="disc">Now do it again and as you do it try to think of something negative without losing the smile. It's hard. When we smile our body is sending the rest of us a message that life is good.</li>
                    </ol>
                </div>

                <hr class="line-margin">

                <div class="lifeup-page-text-heading">
                Take away
                </div>

                <div class="lifeup-page-text">
                Don’t take yourself too seriously –  have a smile to get some headspace!
                </div>

            </ion-content>
        </ion-slide>

        <ion-slide class="slide">
            <ion-content class="courseSlide">

                <div class="lifeup-page-title">
                Perspective - time to get some
                </div>

                <div class="lifeup-page-text-heading">
                SPACE: Smile, Perspective, Appreciation and forgiveness, Connect, Emotions
                </div>

                <div class="lifeup-page-text-heading">
                P is for Perspective - time to get some!
                </div>

                <div class="center">
                    <img src="img/spaceWilde.png" style="width: 90%;height: auto;margin: 5%"/>
                </div>

                <div class="lifeup-page-text-heading">
                Education
                </div>

                <div class="lifeup-page-text">
                We can sometimes get so caught up in ourselves that we can lose perspective on a situation and/or our life.
                </div>

                <div class="lifeup-page-text">
                ‘Reframing’ our perspective is a great way to access our headspace.  Reframing is very much like changing the frame on a picture - the situation hasn’t changed, but how you view it has.
                </div>

                <div class="lifeup-page-text">
                Of course, It’s not about pretending that everything in your life is wonderful and perfect, it's about seeing the situation how it really is, rather than through our mental interpretations.
                </div>

                <div class="lifeup-page-text">
                There are two broad approaches to reframing - content and visual reframing:
                </div>

                <div class="lifeup-page-text">
                    <ol class="lifeup-page-text">
                        <li type="disc"><span style="color:#34AABC"><strong>Content reframing </strong></span> is achieved by proactively 'coaching' ourselves into perspective e.g. ‘What would I say to a friend who had this problem?’</li>
                        <li type="disc"><span style="color:#34AABC"><strong>Visual reframing </strong></span> uses the sheer vastness of the natural world to provide space and to expand perspective.</li>
                    </ol>
               </div>

                <hr class="line-margin">

                <div class="lifeup-page-text-heading">
                Activity
                </div>

                <div class="lifeup-page-text">
                Choose one or more of the following perspective techniques and give it a try!
                </div>

                <div class="lifeup-page-text-heading2">
                Content Perspective Reframing:
                </div>

                <div class="lifeup-page-text">
                    Scan your mind for uncomfortable or repetitive thoughts and emotions.  Ask yourself, ‘What is it that is bothering me today?’
                </div>

                <div class="lifeup-page-text">
                    <ol class="lifeup-page-text">
                        <li type="disc">How will I feel about this problem in a month, a year, 10 years, 50 years?</li>
                        <li type="disc">What would I say to a friend who had this problem?</li>
                        <li type="disc">What would I do, if I only had a short time to live?</li>
                        <li type="disc">What is the worst that could happen?  Go with this thought. What would that look like? How would you recover?  Would it really be so bad?</li>
                    </ol>
                </div>

                <div class="lifeup-page-text-heading2">
                    Visual Perspective reframing:
                </div>

                <div class="lifeup-page-text">
                    <ol class="lifeup-page-text">
                        <li type="n"><strong>Look out the window and observe the scene</strong>, whether it's the vastness of the sky out of your train window, the busy people in the city or the scenery of your garden. Just look without thought for a moment. Or even, better step outside!</li>
                        <li type="n"><strong>Visualise where you are now,</strong> then zoom out to see the building, then the street, the city, the country, the continent, the entire earth, then the universe.  Stay there in the vast nothingness. Pause.</li>
                    </ol>
                </div>

                <div class="lifeup-page-text-heading">
                If you did the exercise, give yourself a ‘mini high five’!
                </div>

                <hr class="line-margin">

                <div class="lifeup-page-text-heading">
                Take away
                    </div>

                <div class="lifeup-page-text">
                Remember, life is full of ups and downs. By changing the way we look at things we can gain perspective and uncover our headspace.
                </div>

            </ion-content>
        </ion-slide>

        <ion-slide class="slide">
            <ion-content class="courseSlide">

                <div class="lifeup-page-title">
                Appreciation and Forgiveness - the keys to joy and freedom
                </div>

                <div class="lifeup-page-text-heading">
                SPACE: Smile Perspective, Appreciation and forgiveness, Connect, Emotions
                </div>

                <div class="lifeup-page-text-heading">
                A is for Appreciation and forgiveness – the keys to joy and freedom.
                </div>

                <div class="center">
                    <img src="img/spaceKurt.jpg" style="width: 90%;height: auto;margin: 5%"/>
                </div>

                <div class="lifeup-page-text-heading">
                Education
                </div>

                <div class="lifeup-page-text">
                Regularly practising appreciation and forgiveness really is a good way to access your headspace and make you feel great.
                </div>

                <div class="lifeup-page-text">
                When we consciously or unconsciously hold a grudge we are pulled into past or  future thoughts of what someone said /didn’t say, or did /didn’t do. These trigger related emotions and conceal our underlying headspace, that quiet, still part of your  mind that doesn't judge, unlike the constant thought chatter.
                </div>

                <div class="lifeup-page-text">
                The key to forgiveness is that it actually has nothing to do with the other person – it doesn’t even matter if they don’t know you have forgiven them! We forgive them for  our own sake, to be able to access headspace and a place of calm again.
                </div>

                <div class="lifeup-page-text">
                Forgiveness is not about making the other person right or condoning their behaviour. It is about releasing yourself from any distress or discomfort the situation is causing you.
                </div>

                <div class="lifeup-page-text">
                You'll be surprised how many little grudges and grievances we can hold onto on an average day, many of which we may not be consciously aware of but are contributing to our background feeling of negativity and annoyance.
                </div>

                <hr class="line-margin">

                <div class="lifeup-page-text-heading">
                Activity
                </div>

                <div class="lifeup-page-text">
                Try the following
                </div>

                <div class="lifeup-page-text">
                    <strong>Appreciation:</strong>
                </div>

                <div class="lifeup-page-text">
                To bring a sense of appreciation inside of you, think of three things in your life, big or small, that you really appreciate.
                </div>

                <div class="lifeup-page-text">
                    <strong>Forgiveness:</strong>
                </div>

                <div class="lifeup-page-text">
                You don't need to focus on particular grudges you have. To access your headspace just repeat the following affirmation a few times internally with genuine and humble sincerity.  Try it now:

                <br>

                <span class="center" style="margin: 15%">
                    “I forgive everyone and I forgive myself for my own sake. I choose to let go of the silliness and resentment so I can live free of its burden.”
                </span>

                </div>

                <hr class="line-margin">

                <div class="lifeup-page-text-heading">
                Take away
                </div>

                <div class="lifeup-page-text">
                Forgiveness is not about making the other person right or condoning their behaviour. It is about releasing yourself from any distress or discomfort the situation is causing you.
                </div>

                <div class="lifeup-page-text">
                By practising appreciation and forgiveness you can access your headspace and happiness and feel great!
                </div>

            </ion-content>
        </ion-slide>


        <ion-slide class="slide">
            <ion-content class="courseSlide">



            </ion-content>
        </ion-slide>


        <ion-slide class="slide">
            <ion-content class="courseSlide">



            </ion-content>
        </ion-slide>


    </ion-slide-box>
</ion-view>
